<a href="https://colab.research.google.com/github/jubedoyag/MetNumUN2021II/blob/main/Lab1/jubedoyag_QuanconnectTutortials.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [2]:
my_string1 = 'Bienvenido a'
my_string2 = "IPython y Jupyter"
print(my_string1 + ' ' + my_string2)

Bienvenido a IPython y Jupyter

An integer is a round number with no values after the decimal point.

In [3]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [4]:
my_int = 32
print(my_int)
print(type(my_int))

32
<class 'int'>

The built-in function int() can convert a string into an integer.

In [5]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [6]:
my_string = "256"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [7]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [8]:
my_string = "999"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [9]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [10]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [11]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [12]:
print("Addition ", 32+64)
print("Subtraction ", 256-2)
print("Multiplication ", 4*10)
print("Division ", 22/7)
print('exponent', 3**12)

Addition  96
Subtraction  254
Multiplication  40
Division  3.142857142857143
exponent 531441

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [13]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [14]:
print(22/7)
print(22.0/7.0)

3.142857142857143
3.142857142857143

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [15]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [16]:
my_list = ['Primero', 'Segundo', 3,4,8]
print(my_list)

['Primero', 'Segundo', 3, 4, 8]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [17]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [18]:
my_list = ['Primero', 'Segundo', 4,1,32]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Primero
32

You can also change the elements in the list by accessing an index and assigning a new value.

In [19]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [20]:
my_list = ['frase','ejemplo',0,25,32]
my_list[2] = 'reemplazo'
print(my_list)

['frase', 'ejemplo', 'reemplazo', 25, 32]

A list can also be sliced with a colon:

In [21]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [22]:
my_list = ['python','java',101,22,32]
print(my_list[1:3])

['java', 101]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [23]:
print(my_list[1:])

['java', 101, 22, 32]

And all elements up to but excluding index 3:

In [24]:
print(my_list[:3])

['python', 'java', 101]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [25]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [26]:
my_list2 = ['Hola', 'Mundo']
my_list2.append('Salvaje')
print(my_list2)

['Hola', 'Mundo', 'Salvaje']

In [27]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [28]:
my_list2.remove('Hola')
print(my_list2)

['Mundo', 'Salvaje']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [29]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [30]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [31]:
my_tuple = ('Willkommen','du','hast')
print(my_tuple[1:])

('du', 'hast')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [32]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'FB', 'GOOG', 'IBM', 'AAPL'}

In [33]:
stock_list = ['eng','ger','col','eng','fra','bra','usa','ger']
stock_set = set(stock_list)
print(stock_set)

{'bra', 'eng', 'fra', 'col', 'ger', 'usa'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [34]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [35]:
print(my_dic['GOOG'])

Alphabet

In [36]:
my_dic = {'eng':'Inglaterra', 'usa':'EEUU', 'ger':'Alemania'}
print(my_dic['ger'])

Alemania

After defining a dictionary, we can access any value by indicating its key in brackets.

In [37]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [38]:
my_dic['ger'] = 'Republica Alemana'
print(my_dic['ger'])

Republica Alemana

We can also change the value associated with a specified key:

In [39]:
print(my_dic.keys())

dict_keys(['eng', 'usa', 'ger', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [40]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [41]:
my_str = 'Bienvenido a Python'
print(my_str[8:])

do a Python

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [42]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [43]:
print('Contar el numero de e en esta frase'.count('e'))
print('Indice de la primera e en la sentencia'.find('e'))
print('Todas las a son reemplazadas por e'.replace('a','e'))

7
5
Todes les e son reemplezedes por e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [44]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [45]:
Time = '2021-09-11 12:45:59'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-09-11 12:45:59
12

We can replace parts of a string by our variable. This is called string formatting.

In [46]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [47]:
my_time = 'Hora: {}, Minuto: {}'.format('12','30')
print(my_time)

Hora: 12, Minuto: 30

Another way to format a string is to use the % symbol.

In [48]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [49]:
print('Una aproximacion de pi es %f'%3.14159)
print('%s para %s'%('ayudame','ayudarte'))

Una aproximacion de pi es 3.141590
ayudame para ayudarte

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

#Tutorial 2

In [50]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [51]:
print(23 == 0)
print(8 == 8)
print(12 != 7)
print(256 >= 256)
print(52 >= 64)

False
True
True
True
False

In [52]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [53]:
print(40 > 0 and 32 > 24)
print(20 > 10 and 30 < 12) 
print(22 > 11 or 23 < 12)
print(21 < 12 and 31 < 21)

True
False
True
False

In [54]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [55]:
print((32 > 24 or 10 < 30) and (10!=30 and 46>32) and not ( 31 < 21 or 12 < 33 and (101!=333 and 8>6)))
print(32 > 24 or 10 < 30 and (10!=32 and 46>32) and not ( 31 < 21 or 12 < 33 and (101!=333 and 8>6)))

False
True

In [56]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [57]:
i = 2
if i == 2:
    print('i y 2 son iguales')

i y 2 son iguales

In [58]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [59]:
p = 64 > 32
q = 24 > 32
if p and q:
    print('p y q son verdad')
elif p and not q:
    print('q es falso')
elif q and not p:
    print('p es falso')
else:
    print('Tanto p como q son falsos')

q es falso

In [60]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [61]:
i = 10
while i < 15:
    print(i)
    i += 1

10
11
12
13
14

In [62]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [63]:
for i in [12,24,48,81,500]:
    print(i)

12
24
48
81
500

In [64]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [65]:
stocks = ['ger','eng','fra','ita','esp','aus', 'pol', 'rus']
selected = ['ger','ita']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(new_list)

['eng', 'fra', 'esp', 'aus', 'pol', 'rus']

In [66]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [67]:
stocks = ['ger','eng','fra','ita','esp','aus', 'pol', 'rus']
for i in stocks:
    print(i)
    if i == 'ita':
        break

ger
eng
fra
ita

In [68]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [69]:
stocks = ['ger','eng','fra','ita','esp','aus', 'pol', 'rus']
for i in stocks:
    if i == 'ita':
        continue
    print(i)

ger
eng
fra
esp
aus
pol
rus

In [70]:

squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [71]:
squares = []
for i in [10,21,32,43,54]:
    squares.append(i**2)
print(squares)

[100, 441, 1024, 1849, 2916]

In [72]:
lista = [1,2,3,4,5]
squares = [x**2 for x in lista]
print(squares)

[1, 4, 9, 16, 25]

In [73]:
lista = [10,21,32,43,54]
squares = [x**2 for x in lista]
print(squares)

[100, 441, 1024, 1849, 2916]

In [74]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [75]:
stocks = ['ger','eng','fra','ita','esp','aus', 'pol', 'rus']
selected = ['ger','ita']
new_list = [x for x in stocks if x in selected]
print(new_list)

['ger', 'ita']

In [76]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [77]:
print([(x, y) for x in [12,24,36] for y in [36,12,64] if x != y])
print([str(x)+' vs '+str(y) for x in ['ger','eng','ita','pol'] for y in ['gm','en','it','po'] if x!=y])

[(12, 36), (12, 64), (24, 36), (24, 12), (24, 64), (36, 12), (36, 64)]
['ger vs gm', 'ger vs en', 'ger vs it', 'ger vs po', 'eng vs gm', 'eng vs en', 'eng vs it', 'eng vs po', 'ita vs gm', 'ita vs en', 'ita vs it', 'ita vs po', 'pol vs gm', 'pol vs en', 'pol vs it', 'pol vs po']

#Tutorial 3

In [78]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [79]:
def product(x,y):
    return x*y
print(product(20,39))
print(product(51,1))

780
51

In [80]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [81]:
def say_hi():
    print('Funcion de imprimir cadena')
say_hi()

Funcion de imprimir cadena

In [82]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [83]:
print(range(32))
print(range(2,64))
print(range(2,64,4))

range(0, 32)
range(2, 64)
range(2, 64, 4)

In [84]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [85]:
tickers = ['ger','eng','fra','ita','GM','EN', 'IT', 'FR']
print('La longitud de tickers es {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

La longitud de tickers es 8
ger
eng
fra
ita
GM
EN
IT
FR

In [86]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [87]:
tickers = ['ger','eng','fra','ita','GM','EN', 'IT', 'FR']
print(list(map(len,tickers)))

[3, 3, 3, 3, 2, 2, 2, 2]

In [88]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [89]:
list(map(lambda x: x**3, range(8)))

[0, 1, 8, 27, 64, 125, 216, 343]

In [90]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [91]:
list(map(lambda x, y: x+y, [10,21,32,43,54],[51,42,33,24,15]))

[61, 63, 65, 67, 69]

In [92]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [93]:
sorted([52,24,32,48,16])

[16, 24, 32, 48, 52]

In [94]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [95]:
price_list = [('ger',12.8),('fra',35.2),('usa',120.32),('jap',251.1),('col',51.32)]
sorted(price_list, key = lambda x: x[1])

[('ger', 12.8), ('fra', 35.2), ('col', 51.32), ('usa', 120.32), ('jap', 251.1)]

In [96]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [97]:
price_list = [('ger',12.8),('fra',35.2),('usa',120.32),('jap',251.1),('col',51.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('jap', 251.1), ('usa', 120.32), ('col', 51.32), ('fra', 35.2), ('ger', 12.8)]

In [98]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [99]:
price_list = [('ger',12.8),('fra',35.2),('usa',120.32),('jap',251.1),('col',51.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('ger', 12.8), ('fra', 35.2), ('col', 51.32), ('usa', 120.32), ('jap', 251.1)]

In [100]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [101]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [102]:
fb = stock('fcbk', 42.0, 240.91, 20219305)
ms = stock('microsoft', 238.12, 123.4, 1492990)

In [103]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [104]:
fb.ticker
ms.print_return()
ms.update(837.13,812.4)
ms.print_return()

-0.4817738955148665
-0.02954140933905125

In [105]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [106]:
fb.ceo = 'Mark Zuckerberg'
fb.ceo

'Mark Zuckerberg'

In [107]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [108]:
dir(fb)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [109]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [110]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [111]:
aa = child('otro')
print(aa.name)
aa.update(50,98)
print(aa.open)
print(aa.close)
print(aa.print_return())

otro
50
98
0.96
None

#Tutorial 4

In [112]:
import numpy as np

In [113]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [114]:
price_list = [1.7, 2.8, 3.6, 4.01, 5.53, 14.2362]
price_array = np.array(price_list)
print(price_array, type(price_array))

[ 1.7     2.8     3.6     4.01    5.53   14.2362] <class 'numpy.ndarray'>

In [115]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [116]:
Ar = np.array([[1,-1],[-1,1]])
print(Ar, type(Ar))

[[ 1 -1]
 [-1  1]] <class 'numpy.ndarray'>

In [117]:
print(Ar.shape)

(2, 2)

In [118]:
print(Ar[0])
print(Ar[1])

[ 1 -1]
[-1  1]

In [119]:
print('Primera columna: ', Ar[:,0])
print('Segunda columna: ', Ar[:,1])

Primera columna:  [ 1 -1]
Segunda columna:  [-1  1]

In [120]:
print(np.log(price_array))

[0.53062825 1.02961942 1.28093385 1.38879124 1.71018782 2.65578802]

In [121]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

5.3127
4.156755599823818
31.8762
14.2362

In [122]:
import pandas as pd

In [123]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [124]:
price = [1.7, 2.8, 3.6, 4.01, 5.53, 14.2362]
s = pd.Series(price)
s

0     1.7000
1     2.8000
2     3.6000
3     4.0100
4     5.5300
5    14.2362
dtype: float64

In [125]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a     1.7000
b     2.8000
c     3.6000
d     4.0100
e     5.5300
f    14.2362
dtype: float64

In [126]:
s = pd.Series(price,index = ['1ro','2do','3ro','4to','5to','6to'])
s

1ro     1.7000
2do     2.8000
3ro     3.6000
4to     4.0100
5to     5.5300
6to    14.2362
dtype: float64

In [127]:
s.index = [6,5,4,3,2,1]
s

6     1.7000
5     2.8000
4     3.6000
3     4.0100
2     5.5300
1    14.2362
dtype: float64

In [128]:
s.index = [1.1,1.2,1.3,1.4,1.5,1.6]
s

1.1     1.7000
1.2     2.8000
1.3     3.6000
1.4     4.0100
1.5     5.5300
1.6    14.2362
dtype: float64

In [129]:
print(s[1:])
print(s[:-2])

1.1     1.7000
1.2     2.8000
1.3     3.6000
1.4     4.0100
1.5     5.5300
1.6    14.2362
dtype: float64
Series([], dtype: float64)

In [130]:
print(s[1.6:])
print(s[:-1.5])

1.6    14.2362
dtype: float64
Series([], dtype: float64)

In [131]:
print(s[1.4])
s[1.4] = 0
print(s)

4.01
1.1     1.7000
1.2     2.8000
1.3     3.6000
1.4     0.0000
1.5     5.5300
1.6    14.2362
dtype: float64

In [132]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0     1.7000
1     2.8000
2     3.6000
3     4.0100
4     5.5300
5    14.2362
Name: Apple Price List, dtype: float64
Apple Price List

In [133]:
s = pd.Series(price, name = 'Lista de valores de FB')
print(s)
print(s.name)

0     1.7000
1     2.8000
2     3.6000
3     4.0100
4     5.5300
5    14.2362
Name: Lista de valores de FB, dtype: float64
Lista de valores de FB

In [134]:
print(s.describe())

count     6.000000
mean      5.312700
std       4.553498
min       1.700000
25%       3.000000
50%       3.805000
75%       5.150000
max      14.236200
Name: Lista de valores de FB, dtype: float64

In [135]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01     1.7000
2017-01-02     2.8000
2017-01-03     3.6000
2017-01-04     4.0100
2017-01-05     5.5300
2017-01-06    14.2362
Freq: D, Name: Lista de valores de FB, dtype: float64

In [136]:
time_index = pd.date_range('2021-10-18',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21',
               '2021-10-22', '2021-10-23'],
              dtype='datetime64[ns]', freq='D')
2021-10-18     1.7000
2021-10-19     2.8000
2021-10-20     3.6000
2021-10-21     4.0100
2021-10-22     5.5300
2021-10-23    14.2362
Freq: D, Name: Lista de valores de FB, dtype: float64

In [137]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6     1.7000
5     2.8000
4     3.6000
3     4.0100
2     5.5300
1    14.2362
Name: Lista de valores de FB, dtype: float64
14.2362

In [138]:
s.index = [1.1,1.2,1.3,1.4,1.5,1.6]
print(s)
print(s[1.6])

1.1     1.7000
1.2     2.8000
1.3     3.6000
1.4     4.0100
1.5     5.5300
1.6    14.2362
Name: Lista de valores de FB, dtype: float64
14.2362

In [139]:
print(s.iloc[1])

2.8

In [140]:
print(s.iloc[5])

14.2362

In [141]:
s.index = time_index
print(s['2021-10-18'])

1.7

In [142]:
print(s['2021-10-19':'2021-10-21'])

2021-10-19    2.80
2021-10-20    3.60
2021-10-21    4.01
Freq: D, Name: Lista de valores de FB, dtype: float64

In [143]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2021-10-18    1.70
2021-10-19    2.80
2021-10-20    3.60
2021-10-21    4.01
Freq: D, Name: Lista de valores de FB, dtype: float64
[2021-10-18    False
2021-10-19    False
2021-10-20    False
2021-10-21    False
2021-10-22     True
2021-10-23    False
Freq: D, Name: Lista de valores de FB, dtype: bool]

In [144]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 10.0*np.std(s))])

2021-10-18    1.70
2021-10-19    2.80
2021-10-20    3.60
2021-10-21    4.01
Freq: D, Name: Lista de valores de FB, dtype: float64
[2021-10-18    False
2021-10-19    False
2021-10-20    False
2021-10-21    False
2021-10-22     True
2021-10-23     True
Freq: D, Name: Lista de valores de FB, dtype: bool]

#Tutorial 5

In [145]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.3 MB 10.6 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=e2d81de9d028ef289fd17068526d383bdfdea789de792f9f65f48788827ed6e2
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [146]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 149, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 41, 'targetMeanPrice': 168.23, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.191, 'beta3Year': None, 'enterpriseToEbitda': 22.502, '52WeekChange': 0.24712789, 'morningStarRiskRating': None, 'forwardEps': 5.67, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58672, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.30302167, 'priceToBook': 38.38228, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2496290881536, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.0945745, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 26.277777, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 146.55, 'regularMarketOpen': 147.01, 'twoHundredDayAverage': 138.93898, 'trailingAnnualDividendYield': 0.0056977137, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 149.17, 'navPrice': None, 'averageDailyVolume10Day': 73218650, 'regularMarketPreviousClose': 146.55, 'fiftyDayAverage': 146.59572, 'trailingAnnualDividendRate': 0.835, 'open': 147.01, 'toCurrency': None, 'averageVolume10days': 73218650, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 146.55, 'currency': 'USD', 'trailingPE': 29.168951, 'regularMarketVolume': 32380079, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2462917066752, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77536093, 'dayLow': 146.55, 'ask': 148.73, 'askSize': 1300, 'volume': 32380079, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.66, 'tradeable': False, 'dividendYield': 0.006, 'bidSize': 2200, 'dayHigh': 149.17, 'regularMarketPrice': 148.995, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655161  24.291437  23.514534  ...  270597600        0.0             0
2016-01-05  24.379041  24.402094  23.609056  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749166  23.083441  22.230463  ...  324377600        0.0             0
2016-01-08  22.719195  22.848294  22.306538  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827752  42.004949  41.784653  ...   65397600        0.0             0
2017-12-26  40.898671  41.059104  40.630480  ...  132742000        0.0             0
2017-12-27  40.731065  40.893892  40.637678  ...   85992800        0.0             0
2017-12-28  40.946564  41.150101  40.822048  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

In [147]:
aapl = aapl_table['Close']['2017']

In [148]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787134
2017-01-09    28.041647
                ...
2017-12-22    41.906773
2017-12-26    40.843597
2017-12-27    40.850792
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

In [149]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889843
2017-03-03    33.083923
2017-03-06    32.979771
2017-03-07    33.022377
2017-03-08    32.899303
2017-03-09    32.823559
2017-03-10    32.932449
2017-03-13    32.946640
2017-03-14    32.896938
2017-03-15    33.244873
2017-03-16    33.299297
2017-03-17    33.133621
2017-03-20    33.481552
2017-03-21    33.098110
2017-03-22    33.472084
2017-03-23    33.353733
2017-03-24    33.287472
2017-03-27    33.344273
2017-03-28    34.035397
2017-03-29    34.111145
2017-03-30    34.066158
2017-03-31    34.002258
Name: Close, dtype: float64

In [150]:
print(aapl['2017-10'])

Date
2017-10-02    36.698433
2017-10-03    36.858288
2017-10-04    36.619682
2017-10-05    37.075413
2017-10-06    37.053940
2017-10-09    37.182781
2017-10-10    37.197102
2017-10-11    37.352188
2017-10-12    37.220955
2017-10-13    37.457165
2017-10-16    38.146709
2017-10-17    38.287483
2017-10-18    38.118080
2017-10-19    37.216183
2017-10-20    37.280602
2017-10-23    37.261517
2017-10-24    37.483414
2017-10-25    37.318779
2017-10-26    37.557381
2017-10-27    38.903057
2017-10-30    39.778709
2017-10-31    40.332241
Name: Close, dtype: float64

In [151]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341728
2017-02-02    30.289879
2017-02-03    30.419500
2017-02-06    30.704655
2017-02-07    30.996866
                ...
2017-04-24    33.997524
2017-04-25    34.208168
2017-04-26    34.006992
2017-04-27    34.033024
2017-04-28    33.999882
Name: Close, Length: 61, dtype: float64

In [152]:
aapl['2017-8':'2017-12']

Date
2017-08-01    35.661278
2017-08-02    37.346302
2017-08-03    36.973167
2017-08-04    37.168049
2017-08-07    37.743195
                ...
2017-12-22    41.906773
2017-12-26    40.843597
2017-12-27    40.850792
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, Length: 106, dtype: float64

In [153]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787134
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657749
2017-12-18    42.244408
2017-12-19    41.794228
2017-12-20    41.748741
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843597
2017-12-27    40.850792
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64

In [154]:
print(aapl.head(11))
print(aapl.tail(15))

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787134
2017-01-09    28.041647
2017-01-10    28.069927
2017-01-11    28.220751
2017-01-12    28.102919
2017-01-13    28.053431
2017-01-17    28.279667
2017-01-18    28.277309
Name: Close, dtype: float64
Date
2017-12-08    40.556248
2017-12-11    41.346458
2017-12-12    41.114185
2017-12-13    41.250668
2017-12-14    41.238701
2017-12-15    41.657749
2017-12-18    42.244408
2017-12-19    41.794228
2017-12-20    41.748741
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843597
2017-12-27    40.850792
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64

In [155]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606275
2017-03-31    33.282220
2017-04-30    33.819261
2017-05-31    36.125683
2017-06-30    35.133982
2017-07-31    35.245242
2017-08-31    37.897230
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233916
2017-12-31    41.160040
Freq: M, Name: Close, dtype: float64

In [156]:
by_week = aapl.resample('W').mean()
print(by_week)

Date
2017-01-08    27.495497
2017-01-15    28.097735
2017-01-22    28.266115
2017-01-29    28.553979
2017-02-05    29.662545
2017-02-12    31.086279
2017-02-19    31.947353
2017-02-26    32.366757
2017-03-05    32.778596
2017-03-12    32.931492
2017-03-19    33.104274
2017-03-26    33.338590
2017-04-02    33.911846
2017-04-09    34.058588
2017-04-16    33.588648
2017-04-23    33.534568
2017-04-30    34.049118
2017-05-07    34.870422
2017-05-14    36.524839
2017-05-21    36.458389
2017-05-28    36.533965
2017-06-04    36.544188
2017-06-11    36.491664
2017-06-18    34.400708
2017-06-25    34.657380
2017-07-02    34.369806
2017-07-09    34.134284
2017-07-16    34.847989
2017-07-23    35.709753
2017-07-30    36.046286
2017-08-06    36.499271
2017-08-13    37.739793
2017-08-20    38.068449
2017-08-27    37.989240
2017-09-03    38.928349
2017-09-10    38.406780
2017-09-17    38.183454
2017-09-24    37.161309
2017-10-01    36.520437
2017-10-08    36.861151
2017-10-15    37.282038
2017-10-22    37.809811
2017-10-29    37.704829
2017-11-05    40.239673
2017-11-12    41.824805
2017-11-19    40.977215
2017-11-26    41.488327
2017-12-03    41.163993
2017-12-10    40.570145
2017-12-17    41.321552
2017-12-24    41.920184
2017-12-31    40.795711
Freq: W-SUN, Name: Close, dtype: float64

In [157]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097735
2017-01-22    28.266115
2017-01-29    28.553979
2017-02-05    29.662545
Freq: W-SUN, Name: Close, dtype: float64

In [158]:

by_week = aapl.resample('W').mean()
print(by_week.tail())

Date
2017-12-03    41.163993
2017-12-10    40.570145
2017-12-17    41.321552
2017-12-24    41.920184
2017-12-31    40.795711
Freq: W-SUN, Name: Close, dtype: float64

In [159]:
aapl.resample('M').max()

Date
2017-01-31    28.739216
2017-02-28    32.451962
2017-03-31    34.111145
2017-04-30    34.264980
2017-05-31    37.099129
2017-06-30    36.944649
2017-07-31    36.471703
2017-08-31    39.129726
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050144
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64

In [160]:
aapl.resample('W').max()

Date
2017-01-08    27.787134
2017-01-15    28.220751
2017-01-22    28.279667
2017-01-29    28.739216
2017-02-05    30.419500
2017-02-12    31.341909
2017-02-19    32.122978
2017-02-26    32.451962
2017-03-05    33.086285
2017-03-12    33.022377
2017-03-19    33.299297
2017-03-26    33.481552
2017-04-02    34.111145
2017-04-09    34.264980
2017-04-16    33.886280
2017-04-23    33.713509
2017-04-30    34.208168
2017-05-07    35.256695
2017-05-14    37.099129
2017-05-21    37.004063
2017-05-28    36.597656
2017-06-04    36.944649
2017-06-11    36.925636
2017-06-18    34.838955
2017-06-25    34.779537
2017-07-02    34.658333
2017-07-09    34.266190
2017-07-16    35.421223
2017-07-23    35.891800
2017-07-30    36.471703
2017-08-06    37.346302
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170570
2017-09-03    39.141655
2017-09-10    38.671619
2017-09-17    38.533230
2017-09-24    37.872326
2017-10-01    36.798634
2017-10-08    37.075413
2017-10-15    37.457165
2017-10-22    38.287483
2017-10-29    38.903057
2017-11-05    41.157791
2017-11-12    42.050144
2017-11-19    41.657749
2017-11-26    41.897198
2017-12-03    41.686485
2017-12-10    40.659222
2017-12-17    41.657749
2017-12-24    42.244408
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64

In [161]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398285
2017-01-06    27.787134
2017-01-09    28.110775
2017-01-12    28.078175
2017-01-15    28.279667
                ...
2017-12-17    42.019318
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886703
2017-12-29    40.522732
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172570
2017-02-05    29.108262
2017-02-19    31.516816
2017-03-05    32.595556
2017-03-19    33.017883
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697630
2017-05-28    36.496177
2017-06-11    36.515008
2017-06-25    34.529044
2017-07-09    34.265130
2017-07-23    35.278871
2017-08-06    36.272778
2017-08-20    37.904121
2017-09-03    38.458794
2017-09-17    38.282710
2017-10-01    36.840873
2017-10-15    37.071595
2017-10-29    37.757320
2017-11-12    41.032239
2017-11-26    41.204376
2017-12-10    40.867069
2017-12-24    41.620868
2018-01-07    40.795711
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056853
2017-07-31    35.186963
2017-09-30    37.761188
2017-11-30    39.402613
2018-01-31    41.160040
Freq: 2M, Name: Close, dtype: float64

In [162]:
quince_dias = aapl.resample('15D').mean()
tres_semanas = aapl.resample('3W').mean()
semestral = aapl.resample('6M').mean()


print(quince_dias)
print(tres_semanas)
print(semestral)

Date
2017-01-03    27.875033
2017-01-18    28.650730
2017-02-02    31.250415
2017-02-17    32.548299
2017-03-04    33.017883
2017-03-19    33.625218
2017-04-03    33.821666
2017-04-18    33.996017
2017-05-03    36.093790
2017-05-18    36.453162
2017-06-02    35.582410
2017-06-17    34.513593
2017-07-02    34.530787
2017-07-17    35.829796
2017-08-01    37.504037
2017-08-16    38.178378
2017-08-31    38.466906
2017-09-15    36.959585
2017-09-30    37.071595
2017-10-15    37.757320
2017-10-30    41.089104
2017-11-14    41.231035
2017-11-29    40.841207
2017-12-14    41.515748
2017-12-29    40.522732
Freq: 15D, Name: Close, dtype: float64
Date
2017-01-08    27.495497
2017-01-29    28.308788
2017-02-19    30.898726
2017-03-12    32.715533
2017-04-02    33.451570
2017-04-23    33.737170
2017-05-14    35.148126
2017-06-04    36.509895
2017-06-25    35.183251
2017-07-16    34.473294
2017-08-06    36.085103
2017-08-27    37.932494
2017-09-17    38.513295
2017-10-08    36.847632
2017-10-29    37.598893
2017-11-19    41.013898
2017-12-10    41.044571
2017-12-31    41.385109
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-07-31    34.249550
2018-01-31    39.068342
Freq: 6M, Name: Close, dtype: float64

In [163]:
std = aapl.resample('W').std()
maximo = aapl.resample('W').max()
minimo = aapl.resample('W').min()


print(std)
print(maximo)
print(minimo)

Date
2017-01-08    0.203369
2017-01-15    0.072529
2017-01-22    0.025557
2017-01-29    0.245287
2017-02-05    0.943260
2017-02-12    0.251999
2017-02-19    0.231396
2017-02-26    0.059343
2017-03-05    0.340093
2017-03-12    0.076285
2017-03-19    0.177834
2017-03-26    0.157267
2017-04-02    0.319809
2017-04-09    0.128690
2017-04-16    0.212476
2017-04-23    0.174677
2017-04-30    0.090023
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060391
2017-06-04    0.281222
2017-06-11    0.620033
2017-06-18    0.382562
2017-06-25    0.128892
2017-07-02    0.264112
2017-07-09    0.158894
2017-07-16    0.404280
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924389
2017-08-13    0.467469
2017-08-20    0.435248
2017-08-27    0.275766
2017-09-03    0.251727
2017-09-10    0.381635
2017-09-17    0.294136
2017-09-24    0.735193
2017-10-01    0.354844
2017-10-08    0.204859
2017-10-15    0.118730
2017-10-22    0.517001
2017-10-29    0.680455
2017-11-05    0.560683
2017-11-12    0.190973
2017-11-19    0.436203
2017-11-26    0.563051
2017-12-03    0.427446
2017-12-10    0.073129
2017-12-17    0.205267
2017-12-24    0.194125
2017-12-31    0.190393
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787134
2017-01-15    28.220751
2017-01-22    28.279667
2017-01-29    28.739216
2017-02-05    30.419500
2017-02-12    31.341909
2017-02-19    32.122978
2017-02-26    32.451962
2017-03-05    33.086285
2017-03-12    33.022377
2017-03-19    33.299297
2017-03-26    33.481552
2017-04-02    34.111145
2017-04-09    34.264980
2017-04-16    33.886280
2017-04-23    33.713509
2017-04-30    34.208168
2017-05-07    35.256695
2017-05-14    37.099129
2017-05-21    37.004063
2017-05-28    36.597656
2017-06-04    36.944649
2017-06-11    36.925636
2017-06-18    34.838955
2017-06-25    34.779537
2017-07-02    34.658333
2017-07-09    34.266190
2017-07-16    35.421223
2017-07-23    35.891800
2017-07-30    36.471703
2017-08-06    37.346302
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170570
2017-09-03    39.141655
2017-09-10    38.671619
2017-09-17    38.533230
2017-09-24    37.872326
2017-10-01    36.798634
2017-10-08    37.075413
2017-10-15    37.457165
2017-10-22    38.287483
2017-10-29    38.903057
2017-11-05    41.157791
2017-11-12    42.050144
2017-11-19    41.657749
2017-11-26    41.897198
2017-12-03    41.686485
2017-12-10    40.659222
2017-12-17    41.657749
2017-12-24    42.244408
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341726
2017-01-15    28.041647
2017-01-22    28.227816
2017-01-29    28.272596
2017-02-05    28.597816
2017-02-12    30.704655
2017-02-19    31.547821
2017-02-26    32.314690
2017-03-05    32.409359
2017-03-12    32.823559
2017-03-19    32.896938
2017-03-26    33.098110
2017-04-02    33.344273
2017-04-09    33.926510
2017-04-16    33.384506
2017-04-23    33.296928
2017-04-30    33.997524
2017-05-07    34.681549
2017-05-14    36.215263
2017-05-21    35.708801
2017-05-28    36.443184
2017-06-04    36.305336
2017-06-11    35.406975
2017-06-18    33.812260
2017-06-25    34.463448
2017-07-02    34.147354
2017-07-09    33.921570
2017-07-16    34.475330
2017-07-23    35.544815
2017-07-30    35.530560
2017-08-06    35.347557
2017-08-13    37.058716
2017-08-20    37.578854
2017-08-27    37.509663
2017-09-03    38.526073
2017-09-10    37.848473
2017-09-17    37.764961
2017-09-24    36.240330
2017-10-01    35.920609
2017-10-08    36.619682
2017-10-15    37.182781
2017-10-22    37.216183
2017-10-29    37.261517
2017-11-05    39.778709
2017-11-12    41.575329
2017-11-19    40.486809
2017-11-26    40.702312
2017-12-03    40.582596
2017-12-10    40.470055
2017-12-17    41.114185
2017-12-24    41.748741
2017-12-31    40.522732
Freq: W-SUN, Name: Close, dtype: float64

In [164]:
std = aapl.resample('M').std()
maximo = aapl.resample('M').max()
minimo = aapl.resample('M').min()


print(std)
print(maximo)
print(minimo)

Date
2017-01-31    0.425088
2017-02-28    0.773846
2017-03-31    0.407927
2017-04-30    0.291041
2017-05-31    0.760190
2017-06-30    1.053872
2017-07-31    0.774828
2017-08-31    0.767475
2017-09-30    0.943681
2017-10-31    0.946220
2017-11-30    0.638007
2017-12-31    0.551571
Freq: M, Name: Close, dtype: float64
Date
2017-01-31    28.739216
2017-02-28    32.451962
2017-03-31    34.111145
2017-04-30    34.264980
2017-05-31    37.099129
2017-06-30    36.944649
2017-07-31    36.471703
2017-08-31    39.129726
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050144
2017-12-31    42.244408
Freq: M, Name: Close, dtype: float64
Date
2017-01-31    27.341726
2017-02-28    30.289879
2017-03-31    32.823559
2017-04-30    33.296928
2017-05-31    34.681549
2017-06-30    33.812260
2017-07-31    33.921570
2017-08-31    35.661278
2017-09-30    35.920609
2017-10-31    36.619682
2017-11-30    39.819267
2017-12-31    40.470055
Freq: M, Name: Close, dtype: float64

In [165]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423569
2017-03-31    34.002258
2017-04-30    33.999882
2017-05-31    36.305336
2017-06-30    34.228153
2017-07-31    35.347557
2017-08-31    39.129726
2017-09-30    36.772400
2017-10-31    40.332241
2017-11-30    41.150105
2017-12-31    40.522732
Freq: M, Name: Close, dtype: float64

In [166]:
last_day_bimestre = aapl.resample('2M').agg(lambda x: x[-1])
print(last_day_bimestre)

Date
2017-01-31    28.597816
2017-03-31    34.002258
2017-05-31    36.305336
2017-07-31    35.347557
2017-09-30    36.772400
2017-11-30    41.150105
2018-01-31    40.522732
Freq: 2M, Name: Close, dtype: float64

In [167]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [168]:
retorno_bimestre = aapl.resample('2M').agg(lambda x: x[-1]/x[0] - 1)
print(retorno_bimestre)

Date
2017-01-31    0.044770
2017-03-31    0.120643
2017-05-31    0.067436
2017-07-31   -0.029051
2017-09-30    0.031158
2017-11-30    0.121304
2018-01-31   -0.010640
Freq: 2M, Name: Close, dtype: float64

In [169]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863237943360086
0.052258576169742124
0.09901807370559301

In [170]:
print(retorno_bimestre.mean())
print(retorno_bimestre.std())
print(retorno_bimestre.max())

0.04937421096342479
0.058715019711495516
0.12130413333341639

In [171]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825752
2017-03-31    1.578690
2017-04-30   -0.002377
2017-05-31    2.305454
2017-06-30   -2.077183
2017-07-31    1.119404
2017-08-31    3.782169
2017-09-30   -2.357327
2017-10-31    3.559841
2017-11-30    0.817863
2017-12-31   -0.627373
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [172]:
print(last_day_bimestre.diff())
print(last_day_bimestre.pct_change())

Date
2017-01-31         NaN
2017-03-31    5.404442
2017-05-31    2.303078
2017-07-31   -0.957779
2017-09-30    1.424843
2017-11-30    4.377705
2018-01-31   -0.627373
Freq: 2M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-03-31    0.188981
2017-05-31    0.067733
2017-07-31   -0.026381
2017-09-30    0.040310
2017-11-30    0.119049
2018-01-31   -0.015246
Freq: 2M, Name: Close, dtype: float64

In [173]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [174]:
daily_return_bimestral = last_day_bimestre.pct_change()
print(daily_return_bimestral.fillna(0))

Date
2017-01-31    0.000000
2017-03-31    0.188981
2017-05-31    0.067733
2017-07-31   -0.026381
2017-09-30    0.040310
2017-11-30    0.119049
2018-01-31   -0.015246
Freq: 2M, Name: Close, dtype: float64

In [175]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [176]:
print(daily_return_bimestral.fillna(method = 'bfill'))

Date
2017-01-31    0.188981
2017-03-31    0.188981
2017-05-31    0.067733
2017-07-31   -0.026381
2017-09-30    0.040310
2017-11-30    0.119049
2018-01-31   -0.015246
Freq: 2M, Name: Close, dtype: float64

In [177]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [178]:
daily_return_bimestral.dropna()

Date
2017-03-31    0.188981
2017-05-31    0.067733
2017-07-31   -0.026381
2017-09-30    0.040310
2017-11-30    0.119049
2018-01-31   -0.015246
Freq: 2M, Name: Close, dtype: float64

In [179]:
dicta = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dicta, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [180]:
dicta2 = {'fb': [143.5, 144.09, 142.73, 144.18, 143.77, 12.3],'microsoft':[898.7, 911.71, 906.69, 918.59, 926.99, 98.7],
        'bitcoin':[155.58, 153.67, 152.36, 152.94, 153.49, 0.19]}
data_index2 = pd.date_range('2017-02',periods = 6, freq = 'M')
df2 = pd.DataFrame(dicta2, index = data_index2)
print(df2)

                fb  microsoft  bitcoin
2017-02-28  143.50     898.70   155.58
2017-03-31  144.09     911.71   153.67
2017-04-30  142.73     906.69   152.36
2017-05-31  144.18     918.59   152.94
2017-06-30  143.77     926.99   153.49
2017-07-31   12.30      98.70     0.19

In [181]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906773
2017-12-26    40.843597
2017-12-27    40.850792
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [182]:
df = aapl_table
print(df.Close.tail(4))
print(df['Volume'].tail(4))

Date
2017-12-26    40.843597
2017-12-27    40.850792
2017-12-28    40.965721
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [183]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852384  22.440247  21.750948  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431518  25.473240  25.236817  ...  103553600        0.0             0
2016-04-30  21.785531  21.954736  21.442489  ...  274126000        0.0             0
2016-05-31  23.226411  23.412969  23.044518  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773052  24.986410  24.768362  ...  118649600        0.0             0
2016-09-30  26.367384  26.580743  26.212641  ...  145516400        0.0             0
2016-10-31  26.646394  26.782382  26.540886  ...  105677600        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2016-12-31  27.490191  27.619805  27.202681  ...  122345200        0.0             0

[12 rows x 7 columns]

In [184]:
aapl_2017 = df['2017']
aapl_month = aapl_2017.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-31  28.550684  28.607243  28.425783  ...  196804000        0.0             0
2017-02-28  32.444870  32.530077  32.354928  ...   93931600        0.0             0
2017-03-31  34.016459  34.146637  33.848410  ...   78646800        0.0             0
2017-04-30  34.104024  34.153730  33.909944  ...   83441600        0.0             0
2017-05-31  36.592909  36.640441  36.215027  ...   97804800        0.0             0
2017-06-30  34.330346  34.451557  34.171113  ...   92096400        0.0             0
2017-07-31  35.625622  35.727819  35.204962  ...   79383600        0.0             0
2017-08-31  39.043832  39.253797  39.005656  ...  107140400        0.0             0
2017-09-30  36.555280  36.774788  36.266578  ...  105199200        0.0             0
2017-10-31  40.060242  40.477785  39.831192  ...  144187200        0.0             0
2017-11-30  40.810077  41.219544  40.333567  ...  166108800        0.0             0
2017-12-31  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[12 rows x 7 columns]

In [185]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104024  34.153730  33.909944  33.999882
2017-05-31  36.592909  36.640441  36.215027  36.305336
2017-06-30  34.330346  34.451557  34.171113  34.228153
2017-07-31  35.625622  35.727819  35.204962  35.347557
2017-08-31  39.043832  39.253797  39.005656  39.129726
2017-09-30  36.555280  36.774788  36.266578  36.772400
2017-10-31  40.060242  40.477785  39.831192  40.332241
2017-11-30  40.810077  41.219544  40.333567  41.150105
2017-12-31  40.831629  40.848389  40.520339  40.522732

In [186]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close', 'Volume']]
print(aapl_bar)

                 Open       High        Low      Close     Volume
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816  196804000
2017-02-28  32.444870  32.530077  32.354928  32.423569   93931600
2017-03-31  34.016459  34.146637  33.848410  34.002258   78646800
2017-04-30  34.104024  34.153730  33.909944  33.999882   83441600
2017-05-31  36.592909  36.640441  36.215027  36.305336   97804800
2017-06-30  34.330346  34.451557  34.171113  34.228153   92096400
2017-07-31  35.625622  35.727819  35.204962  35.347557   79383600
2017-08-31  39.043832  39.253797  39.005656  39.129726  107140400
2017-09-30  36.555280  36.774788  36.266578  36.772400  105199200
2017-10-31  40.060242  40.477785  39.831192  40.332241  144187200
2017-11-30  40.810077  41.219544  40.333567  41.150105  166108800
2017-12-31  40.831629  40.848389  40.520339  40.522732  103999600

In [187]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

Empty DataFrame
Columns: [Open, High, Low, Close]
Index: []

In [188]:
print(aapl_month.loc['2016-01':'2016-10',['High', 'Low']])

Empty DataFrame
Columns: [High, Low]
Index: []

In [189]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close     Volume
Date
2017-05-31  36.592909  36.640441  36.215027  36.305336   97804800
2017-08-31  39.043832  39.253797  39.005656  39.129726  107140400
2017-09-30  36.555280  36.774788  36.266578  36.772400  105199200
2017-10-31  40.060242  40.477785  39.831192  40.332241  144187200
2017-11-30  40.810077  41.219544  40.333567  41.150105  166108800
2017-12-31  40.831629  40.848389  40.520339  40.522732  103999600

In [190]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close     Volume  rate_return
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816  196804000          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569   93931600     0.133778
2017-03-31  34.016459  34.146637  33.848410  34.002258   78646800     0.048690
2017-04-30  34.104024  34.153730  33.909944  33.999882   83441600    -0.000070
2017-05-31  36.592909  36.640441  36.215027  36.305336   97804800     0.067808
2017-06-30  34.330346  34.451557  34.171113  34.228153   92096400    -0.057214
2017-07-31  35.625622  35.727819  35.204962  35.347557   79383600     0.032704
2017-08-31  39.043832  39.253797  39.005656  39.129726  107140400     0.106999
2017-09-30  36.555280  36.774788  36.266578  36.772400  105199200    -0.060244
2017-10-31  40.060242  40.477785  39.831192  40.332241  144187200     0.096807
2017-11-30  40.810077  41.219544  40.333567  41.150105  166108800     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732  103999600    -0.015246

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [191]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  Volume  rate_return
Date
2017-01-31  False  False  False  False   False         True
2017-02-28  False  False  False  False   False        False
2017-03-31  False  False  False  False   False        False
2017-04-30  False  False  False  False   False        False
2017-05-31  False  False  False  False   False        False
2017-06-30  False  False  False  False   False        False
2017-07-31  False  False  False  False   False        False
2017-08-31  False  False  False  False   False        False
2017-09-30  False  False  False  False   False        False
2017-10-31  False  False  False  False   False        False
2017-11-30  False  False  False  False   False        False
2017-12-31  False  False  False  False   False        False
---------------------------------------------
         Open   High    Low  Close Volume rate_return
count      12     12     12     12     12          12
unique      1      1      1      1      1           2
top     False  False  False  False  False       False
freq       12     12     12     12     12          11

In [192]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  Volume  rate_return
Date
2017-01-31  False  False  False  False   False         True

In [193]:
print(missing[missing.rate_return == False])

             Open   High    Low  Close  Volume  rate_return
Date
2017-02-28  False  False  False  False   False        False
2017-03-31  False  False  False  False   False        False
2017-04-30  False  False  False  False   False        False
2017-05-31  False  False  False  False   False        False
2017-06-30  False  False  False  False   False        False
2017-07-31  False  False  False  False   False        False
2017-08-31  False  False  False  False   False        False
2017-09-30  False  False  False  False   False        False
2017-10-31  False  False  False  False   False        False
2017-11-30  False  False  False  False   False        False
2017-12-31  False  False  False  False   False        False

In [194]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close     Volume  rate_return
Date
2017-02-28  32.444870  32.530077  32.354928  32.423569   93931600     0.133778
2017-03-31  34.016459  34.146637  33.848410  34.002258   78646800     0.048690
2017-04-30  34.104024  34.153730  33.909944  33.999882   83441600    -0.000070
2017-05-31  36.592909  36.640441  36.215027  36.305336   97804800     0.067808
2017-06-30  34.330346  34.451557  34.171113  34.228153   92096400    -0.057214
2017-07-31  35.625622  35.727819  35.204962  35.347557   79383600     0.032704
2017-08-31  39.043832  39.253797  39.005656  39.129726  107140400     0.106999
2017-09-30  36.555280  36.774788  36.266578  36.772400  105199200    -0.060244
2017-10-31  40.060242  40.477785  39.831192  40.332241  144187200     0.096807
2017-11-30  40.810077  41.219544  40.333567  41.150105  166108800     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732  103999600    -0.015246

--------------------------------------------------

                 Open       High        Low      Close     Volume  rate_return
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816  196804000     0.000000
2017-02-28  32.444870  32.530077  32.354928  32.423569   93931600     0.133778
2017-03-31  34.016459  34.146637  33.848410  34.002258   78646800     0.048690
2017-04-30  34.104024  34.153730  33.909944  33.999882   83441600    -0.000070
2017-05-31  36.592909  36.640441  36.215027  36.305336   97804800     0.067808
2017-06-30  34.330346  34.451557  34.171113  34.228153   92096400    -0.057214
2017-07-31  35.625622  35.727819  35.204962  35.347557   79383600     0.032704
2017-08-31  39.043832  39.253797  39.005656  39.129726  107140400     0.106999
2017-09-30  36.555280  36.774788  36.266578  36.772400  105199200    -0.060244
2017-10-31  40.060242  40.477785  39.831192  40.332241  144187200     0.096807
2017-11-30  40.810077  41.219544  40.333567  41.150105  166108800     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732  103999600    -0.015246

In [195]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [196]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77, 12.3], name = 'fb')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99, 9.87], name = 'microsoft')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

       fb  microsoft
0  143.50     898.70
1  144.09     911.71
2  142.73     906.69
3  144.18     918.59
4  143.77     926.99
5   12.30       9.87

In [197]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2017-01-31    3.353330
2017-02-28    3.478886
2017-03-31    3.526427
2017-04-30    3.526357
2017-05-31    3.591965
2017-06-30    3.533048
2017-07-31    3.565229
2017-08-31    3.666882
2017-09-30    3.604748
2017-10-31    3.697151
2017-11-30    3.717226
2017-12-31    3.701863
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low  ...     Volume  rate_return  log_price
Date                                         ...
2017-01-31  28.550684  28.607243  28.425783  ...  196804000          NaN   3.353330
2017-02-28  32.444870  32.530077  32.354928  ...   93931600     0.133778   3.478886
2017-03-31  34.016459  34.146637  33.848410  ...   78646800     0.048690   3.526427
2017-04-30  34.104024  34.153730  33.909944  ...   83441600    -0.000070   3.526357
2017-05-31  36.592909  36.640441  36.215027  ...   97804800     0.067808   3.591965
2017-06-30  34.330346  34.451557  34.171113  ...   92096400    -0.057214   3.533048
2017-07-31  35.625622  35.727819  35.204962  ...   79383600     0.032704   3.565229
2017-08-31  39.043832  39.253797  39.005656  ...  107140400     0.106999   3.666882
2017-09-30  36.555280  36.774788  36.266578  ...  105199200    -0.060244   3.604748
2017-10-31  40.060242  40.477785  39.831192  ...  144187200     0.096807   3.697151
2017-11-30  40.810077  41.219544  40.333567  ...  166108800     0.020278   3.717226
2017-12-31  40.831629  40.848389  40.520339  ...  103999600    -0.015246   3.701863

[12 rows x 7 columns]

In [198]:
df_volume = aapl_table.loc['2016-10':'2017-04', ['Volume']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n-------------------------------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04', ['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume
Date
2016-10-31  105677600
2016-11-30  144649200
2016-12-31  122345200
2017-01-31  196804000
2017-02-28   93931600
2017-03-31   78646800
2017-04-30   83441600

-------------------------------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490191  27.619805  27.202681  27.294590
2017-01-31  28.550684  28.607243  28.425783  28.597816
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104024  34.153730  33.909944  33.999882

In [199]:
df_volume = aapl_table.loc['2016-06':'2017-06', ['Volume']].resample('2M').agg(lambda x: x[-1])
print(df_volume)
print('\n-------------------------------------------\n')
df_2017 = aapl_table.loc['2016-06':'2017-06', ['Open', 'High', 'Low', 'Close']].resample('2M').agg(lambda x: x[-1])
print(df_2017)

               Volume
Date
2016-06-30  143345600
2016-08-31  118649600
2016-10-31  105677600
2016-12-31  122345200
2017-02-28   93931600
2017-04-30   83441600
2017-06-30   92096400

-------------------------------------------

                 Open       High        Low      Close
Date
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-08-31  24.773052  24.986410  24.768362  24.876213
2016-10-31  26.646394  26.782382  26.540886  26.620604
2016-12-31  27.490191  27.619805  27.202681  27.294590
2017-02-28  32.444870  32.530077  32.354928  32.423569
2017-04-30  34.104024  34.153730  33.909944  33.999882
2017-06-30  34.330346  34.451557  34.171113  34.228153

In [200]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...  rate_return       Volume
Date                              ...
2016-06-30        NaN        NaN  ...          NaN  143345600.0
2016-08-31        NaN        NaN  ...          NaN  118649600.0
2016-10-31        NaN        NaN  ...          NaN  105677600.0
2016-12-31        NaN        NaN  ...          NaN  122345200.0
2017-01-31  28.550684  28.607243  ...          NaN          NaN
2017-02-28  32.444870  32.530077  ...     0.133778   93931600.0
2017-03-31  34.016459  34.146637  ...     0.048690          NaN
2017-04-30  34.104024  34.153730  ...    -0.000070   83441600.0
2017-05-31  36.592909  36.640441  ...     0.067808          NaN
2017-06-30  34.330346  34.451557  ...    -0.057214   92096400.0
2017-07-31  35.625622  35.727819  ...     0.032704          NaN
2017-08-31  39.043832  39.253797  ...     0.106999          NaN
2017-09-30  36.555280  36.774788  ...    -0.060244          NaN
2017-10-31  40.060242  40.477785  ...     0.096807          NaN
2017-11-30  40.810077  41.219544  ...     0.020278          NaN
2017-12-31  40.831629  40.848389  ...    -0.015246          NaN

[16 rows x 7 columns]

In [201]:
concat = pd.concat([aapl_bar, df_volume], axis = 0)
print(concat)

                 Open       High        Low      Close     Volume  rate_return
Date
2017-01-31  28.550684  28.607243  28.425783  28.597816  196804000          NaN
2017-02-28  32.444870  32.530077  32.354928  32.423569   93931600     0.133778
2017-03-31  34.016459  34.146637  33.848410  34.002258   78646800     0.048690
2017-04-30  34.104024  34.153730  33.909944  33.999882   83441600    -0.000070
2017-05-31  36.592909  36.640441  36.215027  36.305336   97804800     0.067808
2017-06-30  34.330346  34.451557  34.171113  34.228153   92096400    -0.057214
2017-07-31  35.625622  35.727819  35.204962  35.347557   79383600     0.032704
2017-08-31  39.043832  39.253797  39.005656  39.129726  107140400     0.106999
2017-09-30  36.555280  36.774788  36.266578  36.772400  105199200    -0.060244
2017-10-31  40.060242  40.477785  39.831192  40.332241  144187200     0.096807
2017-11-30  40.810077  41.219544  40.333567  41.150105  166108800     0.020278
2017-12-31  40.831629  40.848389  40.520339  40.522732  103999600    -0.015246
2016-06-30        NaN        NaN        NaN        NaN  143345600          NaN
2016-08-31        NaN        NaN        NaN        NaN  118649600          NaN
2016-10-31        NaN        NaN        NaN        NaN  105677600          NaN
2016-12-31        NaN        NaN        NaN        NaN  122345200          NaN
2017-02-28        NaN        NaN        NaN        NaN   93931600          NaN
2017-04-30        NaN        NaN        NaN        NaN   83441600          NaN
2017-06-30        NaN        NaN        NaN        NaN   92096400          NaN

In [202]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High        Low  ...    Volume  rate_return    Volume
Date                                         ...
2017-02-28  32.444870  32.530077  32.354928  ...  93931600     0.133778  93931600
2017-04-30  34.104024  34.153730  33.909944  ...  83441600    -0.000070  83441600
2017-06-30  34.330346  34.451557  34.171113  ...  92096400    -0.057214  92096400

[3 rows x 7 columns]

In [203]:
concat = pd.concat([aapl_bar,df_volume],axis = 0, join = 'inner')
print(concat)

               Volume
Date
2017-01-31  196804000
2017-02-28   93931600
2017-03-31   78646800
2017-04-30   83441600
2017-05-31   97804800
2017-06-30   92096400
2017-07-31   79383600
2017-08-31  107140400
2017-09-30  105199200
2017-10-31  144187200
2017-11-30  166108800
2017-12-31  103999600
2016-06-30  143345600
2016-08-31  118649600
2016-10-31  105677600
2016-12-31  122345200
2017-02-28   93931600
2017-04-30   83441600
2017-06-30   92096400

In [204]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High  ...       Volume  rate_return
Date                              ...
2017-01-31  28.550684  28.607243  ...  196804000.0          NaN
2017-02-28  32.444870  32.530077  ...   93931600.0     0.133778
2017-03-31  34.016459  34.146637  ...   78646800.0     0.048690
2017-04-30  34.104024  34.153730  ...   83441600.0    -0.000070
2017-05-31  36.592909  36.640441  ...   97804800.0     0.067808
2017-06-30  34.330346  34.451557  ...   92096400.0    -0.057214
2017-07-31  35.625622  35.727819  ...   79383600.0     0.032704
2017-08-31  39.043832  39.253797  ...  107140400.0     0.106999
2017-09-30  36.555280  36.774788  ...  105199200.0    -0.060244
2017-10-31  40.060242  40.477785  ...  144187200.0     0.096807
2017-11-30  40.810077  41.219544  ...  166108800.0     0.020278
2017-12-31  40.831629  40.848389  ...  103999600.0    -0.015246
2016-06-30  22.023112  22.333262  ...          NaN          NaN
2016-08-31  24.773052  24.986410  ...          NaN          NaN
2016-10-31  26.646394  26.782382  ...          NaN          NaN
2016-12-31  27.490191  27.619805  ...          NaN          NaN
2017-02-28  32.444870  32.530077  ...          NaN          NaN
2017-04-30  34.104024  34.153730  ...          NaN          NaN
2017-06-30  34.330346  34.451557  ...          NaN          NaN

[19 rows x 6 columns]

In [205]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High  ...       Volume  rate_return
Date                              ...
2017-01-31  28.550684  28.607243  ...  196804000.0          NaN
2017-02-28  32.444870  32.530077  ...   93931600.0     0.133778
2017-03-31  34.016459  34.146637  ...   78646800.0     0.048690
2017-04-30  34.104024  34.153730  ...   83441600.0    -0.000070
2017-05-31  36.592909  36.640441  ...   97804800.0     0.067808
2017-06-30  34.330346  34.451557  ...   92096400.0    -0.057214
2017-07-31  35.625622  35.727819  ...   79383600.0     0.032704
2017-08-31  39.043832  39.253797  ...  107140400.0     0.106999
2017-09-30  36.555280  36.774788  ...  105199200.0    -0.060244
2017-10-31  40.060242  40.477785  ...  144187200.0     0.096807
2017-11-30  40.810077  41.219544  ...  166108800.0     0.020278
2017-12-31  40.831629  40.848389  ...  103999600.0    -0.015246
2016-06-30  22.023112  22.333262  ...          NaN          NaN
2016-08-31  24.773052  24.986410  ...          NaN          NaN
2016-10-31  26.646394  26.782382  ...          NaN          NaN
2016-12-31  27.490191  27.619805  ...          NaN          NaN
2017-02-28  32.444870  32.530077  ...          NaN          NaN
2017-04-30  34.104024  34.153730  ...          NaN          NaN
2017-06-30  34.330346  34.451557  ...          NaN          NaN

[19 rows x 6 columns]

In [206]:
concat = pd.concat([aapl_bar, df_2017], axis = 1)
print(concat)

                 Open       High        Low  ...       High        Low      Close
Date                                         ...
2016-06-30        NaN        NaN        NaN  ...  22.333262  21.990464  22.293619
2016-08-31        NaN        NaN        NaN  ...  24.986410  24.768362  24.876213
2016-10-31        NaN        NaN        NaN  ...  26.782382  26.540886  26.620604
2016-12-31        NaN        NaN        NaN  ...  27.619805  27.202681  27.294590
2017-01-31  28.550684  28.607243  28.425783  ...        NaN        NaN        NaN
2017-02-28  32.444870  32.530077  32.354928  ...  32.530077  32.354928  32.423569
2017-03-31  34.016459  34.146637  33.848410  ...        NaN        NaN        NaN
2017-04-30  34.104024  34.153730  33.909944  ...  34.153730  33.909944  33.999882
2017-05-31  36.592909  36.640441  36.215027  ...        NaN        NaN        NaN
2017-06-30  34.330346  34.451557  34.171113  ...  34.451557  34.171113  34.228153
2017-07-31  35.625622  35.727819  35.204962  ...        NaN        NaN        NaN
2017-08-31  39.043832  39.253797  39.005656  ...        NaN        NaN        NaN
2017-09-30  36.555280  36.774788  36.266578  ...        NaN        NaN        NaN
2017-10-31  40.060242  40.477785  39.831192  ...        NaN        NaN        NaN
2017-11-30  40.810077  41.219544  40.333567  ...        NaN        NaN        NaN
2017-12-31  40.831629  40.848389  40.520339  ...        NaN        NaN        NaN

[16 rows x 10 columns]

In [207]:
df_2017.columns = ['Change', 'High', 'Low', 'Lose']
concat = pd.concat([aapl_bar, df_2017], axis = 0,sort=True)
print(concat)

               Change      Close  ...       Volume  rate_return
Date                              ...
2017-01-31        NaN  28.597816  ...  196804000.0          NaN
2017-02-28        NaN  32.423569  ...   93931600.0     0.133778
2017-03-31        NaN  34.002258  ...   78646800.0     0.048690
2017-04-30        NaN  33.999882  ...   83441600.0    -0.000070
2017-05-31        NaN  36.305336  ...   97804800.0     0.067808
2017-06-30        NaN  34.228153  ...   92096400.0    -0.057214
2017-07-31        NaN  35.347557  ...   79383600.0     0.032704
2017-08-31        NaN  39.129726  ...  107140400.0     0.106999
2017-09-30        NaN  36.772400  ...  105199200.0    -0.060244
2017-10-31        NaN  40.332241  ...  144187200.0     0.096807
2017-11-30        NaN  41.150105  ...  166108800.0     0.020278
2017-12-31        NaN  40.522732  ...  103999600.0    -0.015246
2016-06-30  22.023112        NaN  ...          NaN          NaN
2016-08-31  24.773052        NaN  ...          NaN          NaN
2016-10-31  26.646394        NaN  ...          NaN          NaN
2016-12-31  27.490191        NaN  ...          NaN          NaN
2017-02-28  32.444870        NaN  ...          NaN          NaN
2017-04-30  34.104024        NaN  ...          NaN          NaN
2017-06-30  34.330346        NaN  ...          NaN          NaN

[19 rows x 8 columns]

In [208]:
df_2017.columns = ['Change', 'High', 'Low', 'lose']
concat = pd.concat([aapl_bar, df_2017], axis = 0,sort=False)
print(concat)

                 Open       High        Low  ...  rate_return     Change       lose
Date                                         ...
2017-01-31  28.550684  28.607243  28.425783  ...          NaN        NaN        NaN
2017-02-28  32.444870  32.530077  32.354928  ...     0.133778        NaN        NaN
2017-03-31  34.016459  34.146637  33.848410  ...     0.048690        NaN        NaN
2017-04-30  34.104024  34.153730  33.909944  ...    -0.000070        NaN        NaN
2017-05-31  36.592909  36.640441  36.215027  ...     0.067808        NaN        NaN
2017-06-30  34.330346  34.451557  34.171113  ...    -0.057214        NaN        NaN
2017-07-31  35.625622  35.727819  35.204962  ...     0.032704        NaN        NaN
2017-08-31  39.043832  39.253797  39.005656  ...     0.106999        NaN        NaN
2017-09-30  36.555280  36.774788  36.266578  ...    -0.060244        NaN        NaN
2017-10-31  40.060242  40.477785  39.831192  ...     0.096807        NaN        NaN
2017-11-30  40.810077  41.219544  40.333567  ...     0.020278        NaN        NaN
2017-12-31  40.831629  40.848389  40.520339  ...    -0.015246        NaN        NaN
2016-06-30        NaN  22.333262  21.990464  ...          NaN  22.023112  22.293619
2016-08-31        NaN  24.986410  24.768362  ...          NaN  24.773052  24.876213
2016-10-31        NaN  26.782382  26.540886  ...          NaN  26.646394  26.620604
2016-12-31        NaN  27.619805  27.202681  ...          NaN  27.490191  27.294590
2017-02-28        NaN  32.530077  32.354928  ...          NaN  32.444870  32.423569
2017-04-30        NaN  34.153730  33.909944  ...          NaN  34.104024  33.999882
2017-06-30        NaN  34.451557  34.171113  ...          NaN  34.330346  34.228153

[19 rows x 8 columns]