<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
my_string1 = 'Bienvenido a'
my_string2 = "IPython y Jupyter"
print(my_string1 + ' ' + my_string2)

Bienvenido a IPython y Jupyter

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
my_int = 32
print(my_int)
print(type(my_int))

32
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
my_string = "256"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_string = "999"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
print("Addition ", 32+64)
print("Subtraction ", 256-2)
print("Multiplication ", 4*10)
print("Division ", 22/7)
print('exponent', 3**12)

Addition  96
Subtraction  254
Multiplication  40
Division  3.142857142857143
exponent 531441

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
print(22/7)
print(22.0/7.0)

3.142857142857143
3.142857142857143

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
my_list = ['Primero', 'Segundo', 3,4,8]
print(my_list)

['Primero', 'Segundo', 3, 4, 8]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
my_list = ['Primero', 'Segundo', 4,1,32]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Primero
32

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
my_list = ['frase','ejemplo',0,25,32]
my_list[2] = 'reemplazo'
print(my_list)

['frase', 'ejemplo', 'reemplazo', 25, 32]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
my_list = ['python','java',101,22,32]
print(my_list[1:3])

['java', 101]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['java', 101, 22, 32]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['python', 'java', 101]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list = ['Hola', 'Mundo']
my_list.append('Salvaje')
print(my_list)

['Hola', 'Mundo', 'Salvaje']

In [ ]:
my_list.remove('Hello')
print(my_list)

ValueError: ignored

In [ ]:
my_list.remove('Hola')
print(my_list)

['Mundo', 'Salvaje']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
my_tuple = ('Willkommen','du','hast')
print(my_tuple[1:])

('du', 'hast')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'F', 'IBM', 'AAPL', 'GOOG', 'FB'}

In [ ]:
stock_list = ['eng','ger','col','eng','fra','bra','usa','ger']
stock_set = set(stock_list)
print(stock_set)

{'col', 'usa', 'fra', 'ger', 'bra', 'eng'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

In [ ]:
my_dic = {'eng':'Inglaterra', 'usa':'EEUU', 'ger':'Alemania'}
print(my_dic['ger'])

Alemania

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
my_dic['ger'] = 'Republica Alemana'
print(my_dic['ger'])

Republica Alemana

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['eng', 'usa', 'ger', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
my_str = 'Bienvenido a Python'
print(my_str[8:])

do a Python

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
print('Contar el numero de e en esta frase'.count('e'))
print('Indice de la primera e en la sentencia'.find('e'))
print('Todas las a son reemplazadas por e'.replace('a','e'))

7
5
Todes les e son reemplezedes por e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
Time = '2021-09-11 12:45:59'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-09-11 12:45:59
12

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
my_time = 'Hora: {}, Minuto: {}'.format('12','30')
print(my_time)

Hora: 12, Minuto: 30

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
print('Una aproximacion de pi es %f'%3.14159)
print('%s para %s'%('ayudame','ayudarte'))

Una aproximacion de pi es 3.141590
ayudame para ayudarte

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

#Tutorial 2

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
print(23 == 0)
print(8 == 8)
print(12 != 7)
print(256 >= 256)
print(52 >= 64)

False
True
True
True
False

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
print(40 > 0 and 32 > 24)
print(20 > 10 and 30 < 12) 
print(22 > 11 or 23 < 12)
print(21 < 12 and 31 < 21)

True
False
True
False

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
print((32 > 24 or 10 < 30) and (10!=30 and 46>32) and not ( 31 < 21 or 12 < 33 and (101!=333 and 8>6)))
print(32 > 24 or 10 < 30 and (10!=32 and 46>32) and not ( 31 < 21 or 12 < 33 and (101!=333 and 8>6)))

False
True

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
i = 2
if i == 2:
    print('i y 2 son iguales')

i y 2 son iguales

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
p = 64 > 32
q = 24 > 32
if p and q:
    print('p y q son verdad')
elif p and not q:
    print('q es falso')
elif q and not p:
    print('p es falso')
else:
    print('Tanto p como q son falsos')

q es falso

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
i = 10
while i < 15:
    print(i)
    i += 1

10
11
12
13
14

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
for i in [12,24,48,81,500]:
    print(i)

12
24
48
81
500

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
stocks = ['ger','eng','fra','ita','esp','aus', 'pol', 'rus']
selected = ['ger','ita']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(new_list)

['eng', 'fra', 'esp', 'aus', 'pol', 'rus']

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
stocks = ['ger','eng','fra','ita','esp','aus', 'pol', 'rus']
for i in stocks:
    print(i)
    if i == 'ita':
        break

ger
eng
fra
ita

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
stocks = ['ger','eng','fra','ita','esp','aus', 'pol', 'rus']
for i in stocks:
    if i == 'ita':
        continue
    print(i)

ger
eng
fra
esp
aus
pol
rus

In [ ]:

squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
squares = []
for i in [10,21,32,43,54]:
    squares.append(i**2)
print(squares)

[100, 441, 1024, 1849, 2916]

In [ ]:
lista = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[100, 441, 1024, 1849, 2916]

In [ ]:
lista = [10,21,32,43,54]
squares = [x**2 for x in list]
print(squares)

[100, 441, 1024, 1849, 2916]

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [ ]:
stocks = ['ger','eng','fra','ita','esp','aus', 'pol', 'rus']
selected = ['ger','ita']
new_list = [x for x in stocks if x in selected]
print(new_list)

['ger', 'ita']

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
print([(x, y) for x in [12,24,36] for y in [36,12,64] if x != y])
print([str(x)+' vs '+str(y) for x in ['ger','eng','ita','pol'] for y in ['gm','en','it','po'] if x!=y])

[(12, 36), (12, 64), (24, 36), (24, 12), (24, 64), (36, 12), (36, 64)]
['ger vs gm', 'ger vs en', 'ger vs it', 'ger vs po', 'eng vs gm', 'eng vs en', 'eng vs it', 'eng vs po', 'ita vs gm', 'ita vs en', 'ita vs it', 'ita vs po', 'pol vs gm', 'pol vs en', 'pol vs it', 'pol vs po']

#Tutorial 3

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
def product(x,y):
    return x*y
print(product(20,39))
print(product(51,1))

780
51

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
def say_hi():
    print('Funcion de imprimir cadena')
say_hi()

Funcion de imprimir cadena

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
print(range(32))
print(range(2,64))
print(range(2,64,4))

range(0, 32)
range(2, 64)
range(2, 64, 4)

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [ ]:
tickers = ['ger','eng','fra','ita','GM','EN', 'IT', 'FR']
print('La longitud de tickers es {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

La longitud de tickers es 8
ger
eng
fra
ita
GM
EN
IT
FR

In [1]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [2]:
tickers = ['ger','eng','fra','ita','GM','EN', 'IT', 'FR']
print(list(map(len,tickers)))

[3, 3, 3, 3, 2, 2, 2, 2]

In [3]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
list(map(lambda x: x**3, range(8)))

[0, 1, 8, 27, 64, 125, 216, 343]

In [6]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [7]:
list(map(lambda x, y: x+y, [10,21,32,43,54],[51,42,33,24,15]))

[61, 63, 65, 67, 69]

In [8]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [9]:
sorted([52,24,32,48,16])

[16, 24, 32, 48, 52]

In [11]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [12]:
price_list = [('ger',12.8),('fra',35.2),('usa',120.32),('jap',251.1),('col',51.32)]
sorted(price_list, key = lambda x: x[1])

[('ger', 12.8), ('fra', 35.2), ('col', 51.32), ('usa', 120.32), ('jap', 251.1)]

In [13]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [14]:
price_list = [('ger',12.8),('fra',35.2),('usa',120.32),('jap',251.1),('col',51.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('jap', 251.1), ('usa', 120.32), ('col', 51.32), ('fra', 35.2), ('ger', 12.8)]

In [15]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [16]:
price_list = [('ger',12.8),('fra',35.2),('usa',120.32),('jap',251.1),('col',51.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('ger', 12.8), ('fra', 35.2), ('col', 51.32), ('usa', 120.32), ('jap', 251.1)]

In [17]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [18]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [19]:
fb = stock('fcbk', 42.0, 240.91, 20219305)
ms = stock('microsoft', 238.12, 123.4, 1492990)

In [20]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [21]:
fb.ticker
ms.print_return()
ms.update(837.13,812.4)
ms.print_return()

-0.4817738955148665
-0.02954140933905125

In [22]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [23]:
fb.ceo = 'Mark Zuckerberg'
fb.ceo

'Mark Zuckerberg'

In [24]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [25]:
dir(fb)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [26]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [27]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [28]:
aa = child('otro')
print(aa.name)
aa.update(50,98)
print(aa.open)
print(aa.close)
print(aa.print_return())

otro
50
98
0.96
None

#Tutorial 4

In [29]:
import numpy as np

In [30]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [31]:
price_list = [1.7, 2.8, 3.6, 4.01, 5.53, 14.2362]
price_array = np.array(price_list)
print(price_array, type(price_array))

[ 1.7     2.8     3.6     4.01    5.53   14.2362] <class 'numpy.ndarray'>

In [32]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [33]:
Ar = np.array([[1,-1],[-1,1]])
print(Ar, type(Ar))

[[ 1 -1]
 [-1  1]] <class 'numpy.ndarray'>

In [34]:
print(Ar.shape)

(2, 2)

In [35]:
print(Ar[0])
print(Ar[1])

[ 1 -1]
[-1  1]

In [38]:
print('Primera columna: ', Ar[:,0])
print('Segunda columna: ', Ar[:,1])

Primera columna:  [ 1 -1]
Segunda columna:  [-1  1]

In [39]:
print(np.log(price_array))

[0.53062825 1.02961942 1.28093385 1.38879124 1.71018782 2.65578802]

In [40]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

5.3127
4.156755599823818
31.8762
14.2362

In [41]:
import pandas as pd

In [42]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [43]:
price = [1.7, 2.8, 3.6, 4.01, 5.53, 14.2362]
s = pd.Series(price)
s

0     1.7000
1     2.8000
2     3.6000
3     4.0100
4     5.5300
5    14.2362
dtype: float64

In [44]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a     1.7000
b     2.8000
c     3.6000
d     4.0100
e     5.5300
f    14.2362
dtype: float64

In [45]:
s = pd.Series(price,index = ['1ro','2do','3ro','4to','5to','6to'])
s

1ro     1.7000
2do     2.8000
3ro     3.6000
4to     4.0100
5to     5.5300
6to    14.2362
dtype: float64

In [46]:
s.index = [6,5,4,3,2,1]
s

6     1.7000
5     2.8000
4     3.6000
3     4.0100
2     5.5300
1    14.2362
dtype: float64

In [47]:
s.index = [1.1,1.2,1.3,1.4,1.5,1.6]
s

1.1     1.7000
1.2     2.8000
1.3     3.6000
1.4     4.0100
1.5     5.5300
1.6    14.2362
dtype: float64

In [48]:
print(s[1:])
print(s[:-2])

1.1     1.7000
1.2     2.8000
1.3     3.6000
1.4     4.0100
1.5     5.5300
1.6    14.2362
dtype: float64
Series([], dtype: float64)

In [50]:
print(s[1.6:])
print(s[:-1.5])

1.6    14.2362
dtype: float64
Series([], dtype: float64)

In [51]:
print(s[1.4])
s[1.4] = 0
print(s)

4.01
1.1     1.7000
1.2     2.8000
1.3     3.6000
1.4     0.0000
1.5     5.5300
1.6    14.2362
dtype: float64

In [52]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0     1.7000
1     2.8000
2     3.6000
3     4.0100
4     5.5300
5    14.2362
Name: Apple Price List, dtype: float64
Apple Price List

In [53]:
s = pd.Series(price, name = 'Lista de valores de FB')
print(s)
print(s.name)

0     1.7000
1     2.8000
2     3.6000
3     4.0100
4     5.5300
5    14.2362
Name: Lista de valores de FB, dtype: float64
Lista de valores de FB

In [54]:
print(s.describe())

count     6.000000
mean      5.312700
std       4.553498
min       1.700000
25%       3.000000
50%       3.805000
75%       5.150000
max      14.236200
Name: Lista de valores de FB, dtype: float64

In [55]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01     1.7000
2017-01-02     2.8000
2017-01-03     3.6000
2017-01-04     4.0100
2017-01-05     5.5300
2017-01-06    14.2362
Freq: D, Name: Lista de valores de FB, dtype: float64

In [56]:
time_index = pd.date_range('2021-10-18',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2021-10-18', '2021-10-19', '2021-10-20', '2021-10-21',
               '2021-10-22', '2021-10-23'],
              dtype='datetime64[ns]', freq='D')
2021-10-18     1.7000
2021-10-19     2.8000
2021-10-20     3.6000
2021-10-21     4.0100
2021-10-22     5.5300
2021-10-23    14.2362
Freq: D, Name: Lista de valores de FB, dtype: float64

In [57]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6     1.7000
5     2.8000
4     3.6000
3     4.0100
2     5.5300
1    14.2362
Name: Lista de valores de FB, dtype: float64
14.2362

In [58]:
s.index = [1.1,1.2,1.3,1.4,1.5,1.6]
print(s)
print(s[1.6])

1.1     1.7000
1.2     2.8000
1.3     3.6000
1.4     4.0100
1.5     5.5300
1.6    14.2362
Name: Lista de valores de FB, dtype: float64
14.2362

In [60]:
print(s.iloc[1])

2.8

In [61]:
print(s.iloc[5])

14.2362

In [63]:
s.index = time_index
print(s['2021-10-18'])

1.7

In [64]:
print(s['2021-10-19':'2021-10-21'])

2021-10-19    2.80
2021-10-20    3.60
2021-10-21    4.01
Freq: D, Name: Lista de valores de FB, dtype: float64

In [65]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2021-10-18    1.70
2021-10-19    2.80
2021-10-20    3.60
2021-10-21    4.01
Freq: D, Name: Lista de valores de FB, dtype: float64
[2021-10-18    False
2021-10-19    False
2021-10-20    False
2021-10-21    False
2021-10-22     True
2021-10-23    False
Freq: D, Name: Lista de valores de FB, dtype: bool]

In [66]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 10.0*np.std(s))])

2021-10-18    1.70
2021-10-19    2.80
2021-10-20    3.60
2021-10-21    4.01
Freq: D, Name: Lista de valores de FB, dtype: float64
[2021-10-18    False
2021-10-19    False
2021-10-20    False
2021-10-21    False
2021-10-22     True
2021-10-23     True
Freq: D, Name: Lista de valores de FB, dtype: bool]

#Tutorial 5

In [68]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6.3 MB 6.8 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=ef2694128f0dbc451dbf3ffa6777c78c7cf7323e2df57ab753f60153d10ff402
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [72]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 146.55, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.109, 'beta3Year': None, 'enterpriseToEbitda': 22.247, '52WeekChange': 0.24883604, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58701, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3047781, 'priceToBook': 37.75116, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2468024156160, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.978153, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.801058, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 144.84, 'regularMarketOpen': 143.445, 'twoHundredDayAverage': 138.76833, 'trailingAnnualDividendYield': 0.005764982, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 146.84, 'navPrice': None, 'averageDailyVolume10Day': 68793633, 'regularMarketPreviousClose': 144.84, 'fiftyDayAverage': 146.59706, 'trailingAnnualDividendRate': 0.835, 'open': 143.445, 'toCurrency': None, 'averageVolume10days': 68793633, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.16, 'currency': 'USD', 'trailingPE': 28.690292, 'regularMarketVolume': 79797028, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2422500753408, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77415270, 'dayLow': 143.16, 'ask': 146.83, 'askSize': 1400, 'volume': 79797028, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 146.82, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 900, 'dayHigh': 146.84, 'regularMarketPrice': 146.55, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655164  24.291441  23.514538  ...  270597600        0.0             0
2016-01-05  24.379047  24.402100  23.609061  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749168  23.083443  22.230465  ...  324377600        0.0             0
2016-01-08  22.719193  22.848292  22.306536  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827749  42.004946  41.784649  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731058  40.893884  40.637671  ...   85992800        0.0             0
2017-12-28  40.946568  41.150105  40.822051  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

In [73]:
aapl = aapl_table['Close']['2017']

In [74]:
print(aapl)

Date
2017-01-03    27.372358
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787132
2017-01-09    28.041647
                ...
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

In [75]:
print(aapl['2017-3'])

Date
2017-03-01    33.086292
2017-03-02    32.889839
2017-03-03    33.083916
2017-03-06    32.979774
2017-03-07    33.022381
2017-03-08    32.899303
2017-03-09    32.823563
2017-03-10    32.932446
2017-03-13    32.946640
2017-03-14    32.896938
2017-03-15    33.244869
2017-03-16    33.299305
2017-03-17    33.133625
2017-03-20    33.481556
2017-03-21    33.098114
2017-03-22    33.472088
2017-03-23    33.353737
2017-03-24    33.287464
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111130
2017-03-30    34.066158
2017-03-31    34.002258
Name: Close, dtype: float64

In [79]:
print(aapl['2017-10'])

Date
2017-10-02    36.698425
2017-10-03    36.858295
2017-10-04    36.619690
2017-10-05    37.075420
2017-10-06    37.053936
2017-10-09    37.182774
2017-10-10    37.197094
2017-10-11    37.352188
2017-10-12    37.220959
2017-10-13    37.457169
2017-10-16    38.146709
2017-10-17    38.287476
2017-10-18    38.118069
2017-10-19    37.216183
2017-10-20    37.280602
2017-10-23    37.261517
2017-10-24    37.483414
2017-10-25    37.318783
2017-10-26    37.557377
2017-10-27    38.903057
2017-10-30    39.778709
2017-10-31    40.332245
Name: Close, dtype: float64

In [80]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289879
2017-02-03    30.419498
2017-02-06    30.704647
2017-02-07    30.996874
                ...
2017-04-24    33.997524
2017-04-25    34.208176
2017-04-26    34.006996
2017-04-27    34.033028
2017-04-28    33.999886
Name: Close, Length: 61, dtype: float64

In [81]:
aapl['2017-8':'2017-12']

Date
2017-08-01    35.661274
2017-08-02    37.346298
2017-08-03    36.973167
2017-08-04    37.168056
2017-08-07    37.743187
                ...
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, Length: 106, dtype: float64

In [82]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372358
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787132
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657745
2017-12-18    42.244411
2017-12-19    41.794224
2017-12-20    41.748730
2017-12-21    41.906769
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64

In [83]:
print(aapl.head(11))
print(aapl.tail(15))

Date
2017-01-03    27.372358
2017-01-04    27.341726
2017-01-05    27.480766
2017-01-06    27.787132
2017-01-09    28.041647
2017-01-10    28.069929
2017-01-11    28.220755
2017-01-12    28.102915
2017-01-13    28.053429
2017-01-17    28.279667
2017-01-18    28.277309
Name: Close, dtype: float64
Date
2017-12-08    40.556252
2017-12-11    41.346458
2017-12-12    41.114178
2017-12-13    41.250675
2017-12-14    41.238705
2017-12-15    41.657745
2017-12-18    42.244411
2017-12-19    41.794224
2017-12-20    41.748730
2017-12-21    41.906769
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64

In [84]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606278
2017-03-31    33.282220
2017-04-30    33.819264
2017-05-31    36.125684
2017-06-30    35.133984
2017-07-31    35.245241
2017-08-31    37.897230
2017-09-30    37.604737
2017-10-31    37.654550
2017-11-30    41.233917
2017-12-31    41.160038
Freq: M, Name: Close, dtype: float64

In [89]:
by_week = aapl.resample('W').mean()
print(by_week)

Date
2017-01-08    27.495496
2017-01-15    28.097735
2017-01-22    28.266117
2017-01-29    28.553981
2017-02-05    29.662542
2017-02-12    31.086280
2017-02-19    31.947357
2017-02-26    32.366760
2017-03-05    32.778598
2017-03-12    32.931493
2017-03-19    33.104276
2017-03-26    33.338592
2017-04-02    33.911843
2017-04-09    34.058591
2017-04-16    33.588652
2017-04-23    33.534567
2017-04-30    34.049122
2017-05-07    34.870423
2017-05-14    36.524842
2017-05-21    36.458392
2017-05-28    36.533966
2017-06-04    36.544188
2017-06-11    36.491667
2017-06-18    34.400708
2017-06-25    34.657383
2017-07-02    34.369811
2017-07-09    34.134287
2017-07-16    34.847988
2017-07-23    35.709753
2017-07-30    36.046280
2017-08-06    36.499271
2017-08-13    37.739790
2017-08-20    38.068448
2017-08-27    37.989239
2017-09-03    38.928351
2017-09-10    38.406775
2017-09-17    38.183453
2017-09-24    37.161308
2017-10-01    36.520438
2017-10-08    36.861153
2017-10-15    37.282037
2017-10-22    37.809808
2017-10-29    37.704829
2017-11-05    40.239675
2017-11-12    41.824805
2017-11-19    40.977219
2017-11-26    41.488328
2017-12-03    41.163989
2017-12-10    40.570143
2017-12-17    41.321552
2017-12-24    41.920181
2017-12-31    40.795711
Freq: W-SUN, Name: Close, dtype: float64

In [90]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495496
2017-01-15    28.097735
2017-01-22    28.266117
2017-01-29    28.553981
2017-02-05    29.662542
Freq: W-SUN, Name: Close, dtype: float64

In [91]:

by_week = aapl.resample('W').mean()
print(by_week.tail())

Date
2017-12-03    41.163989
2017-12-10    40.570143
2017-12-17    41.321552
2017-12-24    41.920181
2017-12-31    40.795711
Freq: W-SUN, Name: Close, dtype: float64

In [92]:
aapl.resample('M').max()

Date
2017-01-31    28.739214
2017-02-28    32.451969
2017-03-31    34.111130
2017-04-30    34.264980
2017-05-31    37.099129
2017-06-30    36.944649
2017-07-31    36.471695
2017-08-31    39.129730
2017-09-30    39.141651
2017-10-31    40.332245
2017-11-30    42.050148
2017-12-31    42.244411
Freq: M, Name: Close, dtype: float64

In [93]:
aapl.resample('W').max()

Date
2017-01-08    27.787132
2017-01-15    28.220755
2017-01-22    28.279667
2017-01-29    28.739214
2017-02-05    30.419498
2017-02-12    31.341909
2017-02-19    32.122982
2017-02-26    32.451969
2017-03-05    33.086292
2017-03-12    33.022381
2017-03-19    33.299305
2017-03-26    33.481556
2017-04-02    34.111130
2017-04-09    34.264980
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208176
2017-05-07    35.256687
2017-05-14    37.099129
2017-05-21    37.004070
2017-05-28    36.597656
2017-06-04    36.944649
2017-06-11    36.925640
2017-06-18    34.838955
2017-06-25    34.779537
2017-07-02    34.658333
2017-07-09    34.266190
2017-07-16    35.421238
2017-07-23    35.891804
2017-07-30    36.471695
2017-08-06    37.346298
2017-08-13    38.277935
2017-08-20    38.557098
2017-08-27    38.170570
2017-09-03    39.141651
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872322
2017-10-01    36.798641
2017-10-08    37.075420
2017-10-15    37.457169
2017-10-22    38.287476
2017-10-29    38.903057
2017-11-05    41.157799
2017-11-12    42.050148
2017-11-19    41.657745
2017-11-26    41.897202
2017-12-03    41.686481
2017-12-10    40.659218
2017-12-17    41.657745
2017-12-24    42.244411
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64

In [94]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398284
2017-01-06    27.787132
2017-01-09    28.110777
2017-01-12    28.078172
2017-01-15    28.279667
                ...
2017-12-17    42.019318
2017-12-20    41.854089
2017-12-23          NaN
2017-12-26    40.886703
2017-12-29    40.522732
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495496
2017-01-22    28.172571
2017-02-05    29.108261
2017-02-19    31.516819
2017-03-05    32.595559
2017-03-19    33.017884
2017-04-02    33.625217
2017-04-16    33.849729
2017-04-30    33.791845
2017-05-14    35.697633
2017-05-28    36.496179
2017-06-11    36.515010
2017-06-25    34.529045
2017-07-09    34.265134
2017-07-23    35.278870
2017-08-06    36.272776
2017-08-20    37.904119
2017-09-03    38.458795
2017-09-17    38.282707
2017-10-01    36.840873
2017-10-15    37.071595
2017-10-29    37.757318
2017-11-12    41.032240
2017-11-26    41.204378
2017-12-10    40.867066
2017-12-24    41.620866
2018-01-07    40.795711
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524056
2017-05-31    35.056855
2017-07-31    35.186963
2017-09-30    37.761186
2017-11-30    39.402613
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

In [95]:
quince_dias = aapl.resample('15D').mean()
tres_semanas = aapl.resample('3W').mean()
semestral = aapl.resample('6M').mean()


print(quince_dias)
print(tres_semanas)
print(semestral)

Date
2017-01-03    27.875032
2017-01-18    28.650731
2017-02-02    31.250416
2017-02-17    32.548301
2017-03-04    33.017884
2017-03-19    33.625217
2017-04-03    33.821669
2017-04-18    33.996019
2017-05-03    36.093792
2017-05-18    36.453161
2017-06-02    35.582411
2017-06-17    34.513597
2017-07-02    34.530788
2017-07-17    35.829793
2017-08-01    37.504036
2017-08-16    38.178378
2017-08-31    38.466903
2017-09-15    36.959585
2017-09-30    37.071595
2017-10-15    37.757318
2017-10-30    41.089104
2017-11-14    41.231037
2017-11-29    40.841206
2017-12-14    41.515746
2017-12-29    40.522732
Freq: 15D, Name: Close, dtype: float64
Date
2017-01-08    27.495496
2017-01-29    28.308789
2017-02-19    30.898727
2017-03-12    32.715536
2017-04-02    33.451570
2017-04-23    33.737171
2017-05-14    35.148129
2017-06-04    36.509896
2017-06-25    35.183253
2017-07-16    34.473296
2017-08-06    36.085101
2017-08-27    37.932492
2017-09-17    38.513294
2017-10-08    36.847633
2017-10-29    37.598891
2017-11-19    41.013899
2017-12-10    41.044570
2017-12-31    41.385108
Freq: 3W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-07-31    34.249551
2018-01-31    39.068341
Freq: 6M, Name: Close, dtype: float64

In [96]:
std = aapl.resample('W').std()
maximo = aapl.resample('W').max()
minimo = aapl.resample('W').min()


print(std)
print(maximo)
print(minimo)

Date
2017-01-08    0.203369
2017-01-15    0.072531
2017-01-22    0.025553
2017-01-29    0.245287
2017-02-05    0.943262
2017-02-12    0.252002
2017-02-19    0.231394
2017-02-26    0.059346
2017-03-05    0.340089
2017-03-12    0.076285
2017-03-19    0.177836
2017-03-26    0.157268
2017-04-02    0.319805
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174674
2017-04-30    0.090025
2017-05-07    0.235636
2017-05-14    0.352979
2017-05-21    0.536091
2017-05-28    0.060389
2017-06-04    0.281222
2017-06-11    0.620036
2017-06-18    0.382562
2017-06-25    0.128893
2017-07-02    0.264111
2017-07-09    0.158890
2017-07-16    0.404285
2017-07-23    0.124991
2017-07-30    0.384443
2017-08-06    0.924389
2017-08-13    0.467466
2017-08-20    0.435254
2017-08-27    0.275765
2017-09-03    0.251728
2017-09-10    0.381644
2017-09-17    0.294138
2017-09-24    0.735191
2017-10-01    0.354843
2017-10-08    0.204859
2017-10-15    0.118734
2017-10-22    0.516997
2017-10-29    0.680455
2017-11-05    0.560686
2017-11-12    0.190974
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427445
2017-12-10    0.073130
2017-12-17    0.205267
2017-12-24    0.194130
2017-12-31    0.190393
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220755
2017-01-22    28.279667
2017-01-29    28.739214
2017-02-05    30.419498
2017-02-12    31.341909
2017-02-19    32.122982
2017-02-26    32.451969
2017-03-05    33.086292
2017-03-12    33.022381
2017-03-19    33.299305
2017-03-26    33.481556
2017-04-02    34.111130
2017-04-09    34.264980
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208176
2017-05-07    35.256687
2017-05-14    37.099129
2017-05-21    37.004070
2017-05-28    36.597656
2017-06-04    36.944649
2017-06-11    36.925640
2017-06-18    34.838955
2017-06-25    34.779537
2017-07-02    34.658333
2017-07-09    34.266190
2017-07-16    35.421238
2017-07-23    35.891804
2017-07-30    36.471695
2017-08-06    37.346298
2017-08-13    38.277935
2017-08-20    38.557098
2017-08-27    38.170570
2017-09-03    39.141651
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872322
2017-10-01    36.798641
2017-10-08    37.075420
2017-10-15    37.457169
2017-10-22    38.287476
2017-10-29    38.903057
2017-11-05    41.157799
2017-11-12    42.050148
2017-11-19    41.657745
2017-11-26    41.897202
2017-12-03    41.686481
2017-12-10    40.659218
2017-12-17    41.657745
2017-12-24    42.244411
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341726
2017-01-15    28.041647
2017-01-22    28.227823
2017-01-29    28.272596
2017-02-05    28.597811
2017-02-12    30.704647
2017-02-19    31.547829
2017-02-26    32.314690
2017-03-05    32.409370
2017-03-12    32.823563
2017-03-19    32.896938
2017-03-26    33.098114
2017-04-02    33.344276
2017-04-09    33.926517
2017-04-16    33.384510
2017-04-23    33.296925
2017-04-30    33.997524
2017-05-07    34.681545
2017-05-14    36.215271
2017-05-21    35.708809
2017-05-28    36.443184
2017-06-04    36.305336
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463451
2017-07-02    34.147350
2017-07-09    33.921577
2017-07-16    34.475334
2017-07-23    35.544811
2017-07-30    35.530552
2017-08-06    35.347561
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509663
2017-09-03    38.526070
2017-09-10    37.848454
2017-09-17    37.764957
2017-09-24    36.240330
2017-10-01    35.920612
2017-10-08    36.619690
2017-10-15    37.182774
2017-10-22    37.216183
2017-10-29    37.261517
2017-11-05    39.778709
2017-11-12    41.575333
2017-11-19    40.486813
2017-11-26    40.702320
2017-12-03    40.582596
2017-12-10    40.470047
2017-12-17    41.114178
2017-12-24    41.748730
2017-12-31    40.522732
Freq: W-SUN, Name: Close, dtype: float64

In [97]:
std = aapl.resample('M').std()
maximo = aapl.resample('M').max()
minimo = aapl.resample('M').min()


print(std)
print(maximo)
print(minimo)

Date
2017-01-31    0.425089
2017-02-28    0.773848
2017-03-31    0.407925
2017-04-30    0.291042
2017-05-31    0.760189
2017-06-30    1.053872
2017-07-31    0.774826
2017-08-31    0.767477
2017-09-30    0.943680
2017-10-31    0.946220
2017-11-30    0.638005
2017-12-31    0.551570
Freq: M, Name: Close, dtype: float64
Date
2017-01-31    28.739214
2017-02-28    32.451969
2017-03-31    34.111130
2017-04-30    34.264980
2017-05-31    37.099129
2017-06-30    36.944649
2017-07-31    36.471695
2017-08-31    39.129730
2017-09-30    39.141651
2017-10-31    40.332245
2017-11-30    42.050148
2017-12-31    42.244411
Freq: M, Name: Close, dtype: float64
Date
2017-01-31    27.341726
2017-02-28    30.289879
2017-03-31    32.823563
2017-04-30    33.296925
2017-05-31    34.681545
2017-06-30    33.812263
2017-07-31    33.921577
2017-08-31    35.661274
2017-09-30    35.920612
2017-10-31    36.619690
2017-11-30    39.819267
2017-12-31    40.470047
Freq: M, Name: Close, dtype: float64

In [112]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597811
2017-02-28    32.423573
2017-03-31    34.002258
2017-04-30    33.999886
2017-05-31    36.305336
2017-06-30    34.228168
2017-07-31    35.347561
2017-08-31    39.129730
2017-09-30    36.772392
2017-10-31    40.332245
2017-11-30    41.150101
2017-12-31    40.522732
Freq: M, Name: Close, dtype: float64

In [113]:
last_day_bimestre = aapl.resample('2M').agg(lambda x: x[-1])
print(last_day_bimestre)

Date
2017-01-31    28.597811
2017-03-31    34.002258
2017-05-31    36.305336
2017-07-31    35.347561
2017-09-30    36.772392
2017-11-30    41.150101
2018-01-31    40.522732
Freq: 2M, Name: Close, dtype: float64

In [103]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [106]:
retorno_bimestre = aapl.resample('2M').agg(lambda x: x[-1]/x[0] - 1)
print(retorno_bimestre)

Date
2017-01-31    0.044770
2017-03-31    0.120643
2017-05-31    0.067436
2017-07-31   -0.029051
2017-09-30    0.031158
2017-11-30    0.121304
2018-01-31   -0.010640
Freq: 2M, Name: Close, dtype: float64

In [104]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863298899883804
0.05225858325096619
0.09901840613238377

In [107]:
print(retorno_bimestre.mean())
print(retorno_bimestre.std())
print(retorno_bimestre.max())

0.04937425690710828
0.05871501180268884
0.12130426249902282

In [114]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825762
2017-03-31    1.578686
2017-04-30   -0.002373
2017-05-31    2.305450
2017-06-30   -2.077168
2017-07-31    1.119392
2017-08-31    3.782169
2017-09-30   -2.357338
2017-10-31    3.559853
2017-11-30    0.817856
2017-12-31   -0.627369
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [115]:
print(last_day_bimestre.diff())
print(last_day_bimestre.pct_change())

Date
2017-01-31         NaN
2017-03-31    5.404448
2017-05-31    2.303078
2017-07-31   -0.957775
2017-09-30    1.424831
2017-11-30    4.377708
2018-01-31   -0.627369
Freq: 2M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-03-31    0.188981
2017-05-31    0.067733
2017-07-31   -0.026381
2017-09-30    0.040309
2017-11-30    0.119049
2018-01-31   -0.015246
Freq: 2M, Name: Close, dtype: float64

In [116]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [117]:
daily_return_bimestral = last_day_bimestre.pct_change()
print(daily_return_bimestral.fillna(0))

Date
2017-01-31    0.000000
2017-03-31    0.188981
2017-05-31    0.067733
2017-07-31   -0.026381
2017-09-30    0.040309
2017-11-30    0.119049
2018-01-31   -0.015246
Freq: 2M, Name: Close, dtype: float64

In [118]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [120]:
print(daily_return_bimestral.fillna(method = 'bfill'))

Date
2017-01-31    0.188981
2017-03-31    0.188981
2017-05-31    0.067733
2017-07-31   -0.026381
2017-09-30    0.040309
2017-11-30    0.119049
2018-01-31   -0.015246
Freq: 2M, Name: Close, dtype: float64

In [121]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [122]:
daily_return_bimestral.dropna()

Date
2017-03-31    0.188981
2017-05-31    0.067733
2017-07-31   -0.026381
2017-09-30    0.040309
2017-11-30    0.119049
2018-01-31   -0.015246
Freq: 2M, Name: Close, dtype: float64

In [132]:
dicta = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dicta, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [133]:
dicta2 = {'fb': [143.5, 144.09, 142.73, 144.18, 143.77, 12.3],'microsoft':[898.7, 911.71, 906.69, 918.59, 926.99, 98.7],
        'bitcoin':[155.58, 153.67, 152.36, 152.94, 153.49, 0.19]}
data_index2 = pd.date_range('2017-02',periods = 6, freq = 'M')
df2 = pd.DataFrame(dicta2, index = data_index2)
print(df2)

                fb  microsoft  bitcoin
2017-02-28  143.50     898.70   155.58
2017-03-31  144.09     911.71   153.67
2017-04-30  142.73     906.69   152.36
2017-05-31  144.18     918.59   152.94
2017-06-30  143.77     926.99   153.49
2017-07-31   12.30      98.70     0.19

In [146]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906769
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [147]:
df = aapl_table
print(df.Close.tail(4))
print(df['Volume'].tail(4))

Date
2017-12-26    40.843601
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [144]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000        0.0             0
2016-02-29  22.450761  22.768308  22.402086  ...  140865200        0.0             0
2016-03-31  25.431518  25.473240  25.236817  ...  103553600        0.0             0
2016-04-30  21.785535  21.954739  21.442493  ...  274126000        0.0             0
2016-05-31  23.226400  23.412958  23.044506  ...  169228800        0.0             0
2016-06-30  22.023112  22.333262  21.990464  ...  143345600        0.0             0
2016-07-31  24.296780  24.380731  24.177849  ...  110934800        0.0             0
2016-08-31  24.773058  24.986415  24.768367  ...  118649600        0.0             0
2016-09-30  26.367386  26.580745  26.212643  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300090  26.441488  25.986656  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [137]:
aapl_2017 = df['2017']
aapl_month = aapl_2017.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2017-01-31  28.550679  28.607238  28.425777  ...  196804000        0.0             0
2017-02-28  32.444873  32.530080  32.354932  ...   93931600        0.0             0
2017-03-31  34.016459  34.146637  33.848410  ...   78646800        0.0             0
2017-04-30  34.104028  34.153733  33.909947  ...   83441600        0.0             0
2017-05-31  36.592909  36.640441  36.215027  ...   97804800        0.0             0
2017-06-30  34.330362  34.451572  34.171128  ...   92096400        0.0             0
2017-07-31  35.625626  35.727823  35.204965  ...   79383600        0.0             0
2017-08-31  39.043836  39.253801  39.005659  ...  107140400        0.0             0
2017-09-30  36.555273  36.774781  36.266570  ...  105199200        0.0             0
2017-10-31  40.060246  40.477789  39.831196  ...  144187200        0.0             0
2017-11-30  40.810073  41.219541  40.333563  ...  166108800        0.0             0
2017-12-31  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[12 rows x 7 columns]

In [145]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250
2016-02-29  22.450761  22.768308  22.402086  22.411358
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-04-30  21.785535  21.954739  21.442493  21.727589
2016-05-31  23.226400  23.412958  23.044506  23.287031
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  24.301443
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [148]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close', 'Volume']]
print(aapl_bar)

                 Open       High        Low      Close     Volume
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250  257666000
2016-02-29  22.450761  22.768308  22.402086  22.411358  140865200
2016-03-31  25.431518  25.473240  25.236817  25.262314  103553600
2016-04-30  21.785535  21.954739  21.442493  21.727589  274126000
2016-05-31  23.226400  23.412958  23.044506  23.287031  169228800
2016-06-30  22.023112  22.333262  21.990464  22.293619  143345600
2016-07-31  24.296780  24.380731  24.177849  24.301443  110934800
2016-08-31  24.773058  24.986415  24.768367  24.876219  118649600
2016-09-30  26.367386  26.580745  26.212643  26.505718  145516400
2016-10-31  26.646396  26.782384  26.540888  26.620605  105677600
2016-11-30  26.300090  26.441488  25.986656  26.045572  144649200
2016-12-31  27.490193  27.619807  27.202683  27.294592  122345200

In [149]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314
2016-04-30  21.785535  21.954739  21.442493  21.727589
2016-05-31  23.226400  23.412958  23.044506  23.287031
2016-06-30  22.023112  22.333262  21.990464  22.293619

In [151]:
print(aapl_month.loc['2016-01':'2016-10',['High', 'Low']])

                 High        Low
Date
2016-01-31  22.440250  21.750952
2016-02-29  22.768308  22.402086
2016-03-31  25.473240  25.236817
2016-04-30  21.954739  21.442493
2016-05-31  23.412958  23.044506
2016-06-30  22.333262  21.990464
2016-07-31  24.380731  24.177849
2016-08-31  24.986415  24.768367
2016-09-30  26.580745  26.212643
2016-10-31  26.782384  26.540888

In [152]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close     Volume
Date
2016-03-31  25.431518  25.473240  25.236817  25.262314  103553600
2016-08-31  24.773058  24.986415  24.768367  24.876219  118649600
2016-09-30  26.367386  26.580745  26.212643  26.505718  145516400
2016-10-31  26.646396  26.782384  26.540888  26.620605  105677600
2016-11-30  26.300090  26.441488  25.986656  26.045572  144649200
2016-12-31  27.490193  27.619807  27.202683  27.294592  122345200

In [153]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close     Volume  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250  257666000          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358  140865200    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314  103553600     0.127210
2016-04-30  21.785535  21.954739  21.442493  21.727589  274126000    -0.139921
2016-05-31  23.226400  23.412958  23.044506  23.287031  169228800     0.071772
2016-06-30  22.023112  22.333262  21.990464  22.293619  143345600    -0.042659
2016-07-31  24.296780  24.380731  24.177849  24.301443  110934800     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219  118649600     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718  145516400     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605  105677600     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572  144649200    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592  122345200     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [154]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  Volume  rate_return
Date
2016-01-31  False  False  False  False   False         True
2016-02-29  False  False  False  False   False        False
2016-03-31  False  False  False  False   False        False
2016-04-30  False  False  False  False   False        False
2016-05-31  False  False  False  False   False        False
2016-06-30  False  False  False  False   False        False
2016-07-31  False  False  False  False   False        False
2016-08-31  False  False  False  False   False        False
2016-09-30  False  False  False  False   False        False
2016-10-31  False  False  False  False   False        False
2016-11-30  False  False  False  False   False        False
2016-12-31  False  False  False  False   False        False
---------------------------------------------
         Open   High    Low  Close Volume rate_return
count      12     12     12     12     12          12
unique      1      1      1      1      1           2
top     False  False  False  False  False       False
freq       12     12     12     12     12          11

In [155]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  Volume  rate_return
Date
2016-01-31  False  False  False  False   False         True

In [156]:
print(missing[missing.rate_return == False])

             Open   High    Low  Close  Volume  rate_return
Date
2016-02-29  False  False  False  False   False        False
2016-03-31  False  False  False  False   False        False
2016-04-30  False  False  False  False   False        False
2016-05-31  False  False  False  False   False        False
2016-06-30  False  False  False  False   False        False
2016-07-31  False  False  False  False   False        False
2016-08-31  False  False  False  False   False        False
2016-09-30  False  False  False  False   False        False
2016-10-31  False  False  False  False   False        False
2016-11-30  False  False  False  False   False        False
2016-12-31  False  False  False  False   False        False

In [157]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close     Volume  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358  140865200    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314  103553600     0.127210
2016-04-30  21.785535  21.954739  21.442493  21.727589  274126000    -0.139921
2016-05-31  23.226400  23.412958  23.044506  23.287031  169228800     0.071772
2016-06-30  22.023112  22.333262  21.990464  22.293619  143345600    -0.042659
2016-07-31  24.296780  24.380731  24.177849  24.301443  110934800     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219  118649600     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718  145516400     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605  105677600     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572  144649200    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592  122345200     0.047955

--------------------------------------------------

                 Open       High        Low      Close     Volume  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250  257666000     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358  140865200    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314  103553600     0.127210
2016-04-30  21.785535  21.954739  21.442493  21.727589  274126000    -0.139921
2016-05-31  23.226400  23.412958  23.044506  23.287031  169228800     0.071772
2016-06-30  22.023112  22.333262  21.990464  22.293619  143345600    -0.042659
2016-07-31  24.296780  24.380731  24.177849  24.301443  110934800     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219  118649600     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718  145516400     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605  105677600     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572  144649200    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592  122345200     0.047955

In [158]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [159]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77, 12.3], name = 'fb')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99, 9.87], name = 'microsoft')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

       fb  microsoft
0  143.50     898.70
1  144.09     911.71
2  142.73     906.69
3  144.18     918.59
4  143.77     926.99
5   12.30       9.87

In [165]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low  ...     Volume  rate_return  log_price
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...  257666000          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  ...  140865200    -0.001288   3.109568
2016-03-31  25.431518  25.473240  25.236817  ...  103553600     0.127210   3.229314
2016-04-30  21.785535  21.954739  21.442493  ...  274126000    -0.139921   3.078583
2016-05-31  23.226400  23.412958  23.044506  ...  169228800     0.071772   3.147897
2016-06-30  22.023112  22.333262  21.990464  ...  143345600    -0.042659   3.104301
2016-07-31  24.296780  24.380731  24.177849  ...  110934800     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  ...  118649600     0.023652   3.213912
2016-09-30  26.367386  26.580745  26.212643  ...  145516400     0.065504   3.277360
2016-10-31  26.646396  26.782384  26.540888  ...  105677600     0.004334   3.281686
2016-11-30  26.300090  26.441488  25.986656  ...  144649200    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  ...  122345200     0.047955   3.306689

[12 rows x 7 columns]

In [169]:
df_volume = aapl_table.loc['2016-10':'2017-04', ['Volume']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n-------------------------------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04', ['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume
Date
2016-10-31  105677600
2016-11-30  144649200
2016-12-31  122345200
2017-01-31  196804000
2017-02-28   93931600
2017-03-31   78646800
2017-04-30   83441600

-------------------------------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300090  26.441488  25.986656  26.045572
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550679  28.607238  28.425777  28.597811
2017-02-28  32.444873  32.530080  32.354932  32.423573
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104028  34.153733  33.909947  33.999886

In [170]:
df_volume = aapl_table.loc['2016-06':'2017-06', ['Volume']].resample('2M').agg(lambda x: x[-1])
print(df_volume)
print('\n-------------------------------------------\n')
df_2017 = aapl_table.loc['2016-06':'2017-06', ['Open', 'High', 'Low', 'Close']].resample('2M').agg(lambda x: x[-1])
print(df_2017)

               Volume
Date
2016-06-30  143345600
2016-08-31  118649600
2016-10-31  105677600
2016-12-31  122345200
2017-02-28   93931600
2017-04-30   83441600
2017-06-30   92096400

-------------------------------------------

                 Open       High        Low      Close
Date
2016-06-30  22.023112  22.333262  21.990464  22.293619
2016-08-31  24.773058  24.986415  24.768367  24.876219
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-02-28  32.444873  32.530080  32.354932  32.423573
2017-04-30  34.104028  34.153733  33.909947  33.999886
2017-06-30  34.330362  34.451572  34.171128  34.228168

In [174]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...  rate_return       Volume
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN          NaN
2016-02-29  22.450761  22.768308  ...    -0.001288          NaN
2016-03-31  25.431518  25.473240  ...     0.127210          NaN
2016-04-30  21.785535  21.954739  ...    -0.139921          NaN
2016-05-31  23.226400  23.412958  ...     0.071772          NaN
2016-06-30  22.023112  22.333262  ...    -0.042659  143345600.0
2016-07-31  24.296780  24.380731  ...     0.090063          NaN
2016-08-31  24.773058  24.986415  ...     0.023652  118649600.0
2016-09-30  26.367386  26.580745  ...     0.065504          NaN
2016-10-31  26.646396  26.782384  ...     0.004334  105677600.0
2016-11-30  26.300090  26.441488  ...    -0.021601          NaN
2016-12-31  27.490193  27.619807  ...     0.047955  122345200.0
2017-02-28        NaN        NaN  ...          NaN   93931600.0
2017-04-30        NaN        NaN  ...          NaN   83441600.0
2017-06-30        NaN        NaN  ...          NaN   92096400.0

[15 rows x 7 columns]

In [175]:
concat = pd.concat([aapl_bar, df_volume], axis = 0)
print(concat)

                 Open       High        Low      Close     Volume  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250  257666000          NaN
2016-02-29  22.450761  22.768308  22.402086  22.411358  140865200    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314  103553600     0.127210
2016-04-30  21.785535  21.954739  21.442493  21.727589  274126000    -0.139921
2016-05-31  23.226400  23.412958  23.044506  23.287031  169228800     0.071772
2016-06-30  22.023112  22.333262  21.990464  22.293619  143345600    -0.042659
2016-07-31  24.296780  24.380731  24.177849  24.301443  110934800     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219  118649600     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718  145516400     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605  105677600     0.004334
2016-11-30  26.300090  26.441488  25.986656  26.045572  144649200    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592  122345200     0.047955
2016-06-30        NaN        NaN        NaN        NaN  143345600          NaN
2016-08-31        NaN        NaN        NaN        NaN  118649600          NaN
2016-10-31        NaN        NaN        NaN        NaN  105677600          NaN
2016-12-31        NaN        NaN        NaN        NaN  122345200          NaN
2017-02-28        NaN        NaN        NaN        NaN   93931600          NaN
2017-04-30        NaN        NaN        NaN        NaN   83441600          NaN
2017-06-30        NaN        NaN        NaN        NaN   92096400          NaN

In [176]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High        Low  ...     Volume  rate_return     Volume
Date                                         ...
2016-06-30  22.023112  22.333262  21.990464  ...  143345600    -0.042659  143345600
2016-08-31  24.773058  24.986415  24.768367  ...  118649600     0.023652  118649600
2016-10-31  26.646396  26.782384  26.540888  ...  105677600     0.004334  105677600
2016-12-31  27.490193  27.619807  27.202683  ...  122345200     0.047955  122345200

[4 rows x 7 columns]

In [177]:
concat = pd.concat([aapl_bar,df_volume],axis = 0, join = 'inner')
print(concat)

               Volume
Date
2016-01-31  257666000
2016-02-29  140865200
2016-03-31  103553600
2016-04-30  274126000
2016-05-31  169228800
2016-06-30  143345600
2016-07-31  110934800
2016-08-31  118649600
2016-09-30  145516400
2016-10-31  105677600
2016-11-30  144649200
2016-12-31  122345200
2016-06-30  143345600
2016-08-31  118649600
2016-10-31  105677600
2016-12-31  122345200
2017-02-28   93931600
2017-04-30   83441600
2017-06-30   92096400

In [180]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High  ...       Volume  rate_return
Date                              ...
2016-01-31  21.852388  22.440250  ...  257666000.0          NaN
2016-02-29  22.450761  22.768308  ...  140865200.0    -0.001288
2016-03-31  25.431518  25.473240  ...  103553600.0     0.127210
2016-04-30  21.785535  21.954739  ...  274126000.0    -0.139921
2016-05-31  23.226400  23.412958  ...  169228800.0     0.071772
2016-06-30  22.023112  22.333262  ...  143345600.0    -0.042659
2016-07-31  24.296780  24.380731  ...  110934800.0     0.090063
2016-08-31  24.773058  24.986415  ...  118649600.0     0.023652
2016-09-30  26.367386  26.580745  ...  145516400.0     0.065504
2016-10-31  26.646396  26.782384  ...  105677600.0     0.004334
2016-11-30  26.300090  26.441488  ...  144649200.0    -0.021601
2016-12-31  27.490193  27.619807  ...  122345200.0     0.047955
2016-06-30  22.023112  22.333262  ...          NaN          NaN
2016-08-31  24.773058  24.986415  ...          NaN          NaN
2016-10-31  26.646396  26.782384  ...          NaN          NaN
2016-12-31  27.490193  27.619807  ...          NaN          NaN
2017-02-28  32.444873  32.530080  ...          NaN          NaN
2017-04-30  34.104028  34.153733  ...          NaN          NaN
2017-06-30  34.330362  34.451572  ...          NaN          NaN

[19 rows x 6 columns]

In [182]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High  ...       Volume  rate_return
Date                              ...
2016-01-31  21.852388  22.440250  ...  257666000.0          NaN
2016-02-29  22.450761  22.768308  ...  140865200.0    -0.001288
2016-03-31  25.431518  25.473240  ...  103553600.0     0.127210
2016-04-30  21.785535  21.954739  ...  274126000.0    -0.139921
2016-05-31  23.226400  23.412958  ...  169228800.0     0.071772
2016-06-30  22.023112  22.333262  ...  143345600.0    -0.042659
2016-07-31  24.296780  24.380731  ...  110934800.0     0.090063
2016-08-31  24.773058  24.986415  ...  118649600.0     0.023652
2016-09-30  26.367386  26.580745  ...  145516400.0     0.065504
2016-10-31  26.646396  26.782384  ...  105677600.0     0.004334
2016-11-30  26.300090  26.441488  ...  144649200.0    -0.021601
2016-12-31  27.490193  27.619807  ...  122345200.0     0.047955
2016-06-30  22.023112  22.333262  ...          NaN          NaN
2016-08-31  24.773058  24.986415  ...          NaN          NaN
2016-10-31  26.646396  26.782384  ...          NaN          NaN
2016-12-31  27.490193  27.619807  ...          NaN          NaN
2017-02-28  32.444873  32.530080  ...          NaN          NaN
2017-04-30  34.104028  34.153733  ...          NaN          NaN
2017-06-30  34.330362  34.451572  ...          NaN          NaN

[19 rows x 6 columns]

In [183]:
concat = pd.concat([aapl_bar, df_2017], axis = 1)
print(concat)

                 Open       High        Low  ...       High        Low      Close
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...        NaN        NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  ...        NaN        NaN        NaN
2016-03-31  25.431518  25.473240  25.236817  ...        NaN        NaN        NaN
2016-04-30  21.785535  21.954739  21.442493  ...        NaN        NaN        NaN
2016-05-31  23.226400  23.412958  23.044506  ...        NaN        NaN        NaN
2016-06-30  22.023112  22.333262  21.990464  ...  22.333262  21.990464  22.293619
2016-07-31  24.296780  24.380731  24.177849  ...        NaN        NaN        NaN
2016-08-31  24.773058  24.986415  24.768367  ...  24.986415  24.768367  24.876219
2016-09-30  26.367386  26.580745  26.212643  ...        NaN        NaN        NaN
2016-10-31  26.646396  26.782384  26.540888  ...  26.782384  26.540888  26.620605
2016-11-30  26.300090  26.441488  25.986656  ...        NaN        NaN        NaN
2016-12-31  27.490193  27.619807  27.202683  ...  27.619807  27.202683  27.294592
2017-02-28        NaN        NaN        NaN  ...  32.530080  32.354932  32.423573
2017-04-30        NaN        NaN        NaN  ...  34.153733  33.909947  33.999886
2017-06-30        NaN        NaN        NaN  ...  34.451572  34.171128  34.228168

[15 rows x 10 columns]

In [185]:
df_2017.columns = ['Change', 'High', 'Low', 'Lose']
concat = pd.concat([aapl_bar, df_2017], axis = 0,sort=True)
print(concat)

               Change      Close  ...       Volume  rate_return
Date                              ...
2016-01-31        NaN  22.440250  ...  257666000.0          NaN
2016-02-29        NaN  22.411358  ...  140865200.0    -0.001288
2016-03-31        NaN  25.262314  ...  103553600.0     0.127210
2016-04-30        NaN  21.727589  ...  274126000.0    -0.139921
2016-05-31        NaN  23.287031  ...  169228800.0     0.071772
2016-06-30        NaN  22.293619  ...  143345600.0    -0.042659
2016-07-31        NaN  24.301443  ...  110934800.0     0.090063
2016-08-31        NaN  24.876219  ...  118649600.0     0.023652
2016-09-30        NaN  26.505718  ...  145516400.0     0.065504
2016-10-31        NaN  26.620605  ...  105677600.0     0.004334
2016-11-30        NaN  26.045572  ...  144649200.0    -0.021601
2016-12-31        NaN  27.294592  ...  122345200.0     0.047955
2016-06-30  22.023112        NaN  ...          NaN          NaN
2016-08-31  24.773058        NaN  ...          NaN          NaN
2016-10-31  26.646396        NaN  ...          NaN          NaN
2016-12-31  27.490193        NaN  ...          NaN          NaN
2017-02-28  32.444873        NaN  ...          NaN          NaN
2017-04-30  34.104028        NaN  ...          NaN          NaN
2017-06-30  34.330362        NaN  ...          NaN          NaN

[19 rows x 8 columns]

In [187]:
df_2017.columns = ['Change', 'High', 'Low', 'lose']
concat = pd.concat([aapl_bar, df_2017], axis = 0,sort=False)
print(concat)

                 Open       High        Low  ...  rate_return     Change       lose
Date                                         ...
2016-01-31  21.852388  22.440250  21.750952  ...          NaN        NaN        NaN
2016-02-29  22.450761  22.768308  22.402086  ...    -0.001288        NaN        NaN
2016-03-31  25.431518  25.473240  25.236817  ...     0.127210        NaN        NaN
2016-04-30  21.785535  21.954739  21.442493  ...    -0.139921        NaN        NaN
2016-05-31  23.226400  23.412958  23.044506  ...     0.071772        NaN        NaN
2016-06-30  22.023112  22.333262  21.990464  ...    -0.042659        NaN        NaN
2016-07-31  24.296780  24.380731  24.177849  ...     0.090063        NaN        NaN
2016-08-31  24.773058  24.986415  24.768367  ...     0.023652        NaN        NaN
2016-09-30  26.367386  26.580745  26.212643  ...     0.065504        NaN        NaN
2016-10-31  26.646396  26.782384  26.540888  ...     0.004334        NaN        NaN
2016-11-30  26.300090  26.441488  25.986656  ...    -0.021601        NaN        NaN
2016-12-31  27.490193  27.619807  27.202683  ...     0.047955        NaN        NaN
2016-06-30        NaN  22.333262  21.990464  ...          NaN  22.023112  22.293619
2016-08-31        NaN  24.986415  24.768367  ...          NaN  24.773058  24.876219
2016-10-31        NaN  26.782384  26.540888  ...          NaN  26.646396  26.620605
2016-12-31        NaN  27.619807  27.202683  ...          NaN  27.490193  27.294592
2017-02-28        NaN  32.530080  32.354932  ...          NaN  32.444873  32.423573
2017-04-30        NaN  34.153733  33.909947  ...          NaN  34.104028  33.999886
2017-06-30        NaN  34.451572  34.171128  ...          NaN  34.330362  34.228168

[19 rows x 8 columns]